<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Pokémon Type Calculator</title>
    <meta name="og:title" content="Pokémon Type Calculator" />
    <link rel="icon" sizes="16x16" href="/favicon-16.png" />
    <link rel="icon" sizes="32x32" href="/favicon-32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="og:image" content="https://www.pkmn.help/favicon-192.png" />
    <meta
      name="twitter:image"
      content="https://www.pkmn.help/favicon-192.png"
    />
    <meta
      name="twitter:image:src"
      content="https://www.pkmn.help/favicon-192.png"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta
      name="description"
      content="A Pokémon type calculator to show strengths/weaknesses of different type combinations"
    />
    <meta
      name="og:description"
      content="A Pokémon type calculator to show strengths/weaknesses of different type combinations"
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@wavebeem" />
    <meta name="twitter:creator" content="@wavebeem" />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-52704502-5"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      if (
        window.location.hostname === "pkmn.help" ||
        window.location.hostname === "www.pkmn.help"
      ) {
        gtag("config", "UA-52704502-5", {
          send_page_view: false,
        });
      } else {
        window.gtag = console.info.bind(console, "gtag");
      }
    </script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
