<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>Pokémon Type Calculator</title>
  <link rel="shortcut icon" href="favicon.ico?<%= Date.now() %>">
  <meta name="theme-color" content="#e7040f">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="A Pokémon type calculator to show strengths/weaknesses of different type combinations">
</head>

<body style="overflow-y: scroll;"><div id="app"></div></body>

</html>
