.with-border-color(@color) {
  &.with-border-color {
    border-color: darken(@color, 10%);
  }
}

.W(@color) {
  background-color: @color;
  color: white;
  text-shadow:
    0 1px 0 fade(black, 80%),
    0 0 4px fade(black, 80%),
    0 0 8px fade(black, 40%);

  .with-border-color(@color);
}

.B(@color) {
  background-color: @color;
  color: black;
  text-shadow:
    0 1px 0 fade(white, 40%),
    0 0 4px fade(white, 80%),
    0 0 8px fade(white, 40%);

  .with-border-color(@color);
}

.type-fire       { .B(#f08030); }
.type-water      { .B(#6890f0); }
.type-grass      { .B(#78c850); }
.type-electric   { .B(#f8d030); }
.type-psychic    { .B(#f85888); }
.type-ice        { .B(#98d8d8); }
.type-dragon     { .W(#7038f8); }
.type-dark       { .W(#705848); }
.type-fairy      { .B(#ee99ac); }
.type-normal     { .B(#a8a878); }
.type-fighting   { .W(#c03028); }
.type-flying     { .B(#a890f0); }
.type-poison     { .W(#a040a0); }
.type-ground     { .B(#e0c068); }
.type-rock       { .B(#b8a038); }
.type-bug        { .B(#a8b820); }
.type-ghost      { .W(#705898); }
.type-steel      { .B(#b8b8d0); }
.type-none       { .B(#dedede); }
