@import (less) "node_modules/tachyons/css/tachyons.min.css";

html {
  font-size: 12px;

  @media (max-width: 800px) {
    font-size: 14px;
  }
}

.ma--2px {
  margin: 2px;
}

button {
  -webkit-appearance: none;
}

.border-not-bottom--transparent {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

.no-outline,
.no-outline:focus {
  outline: none;
}

.bottom-border-thick-current {
  border-bottom: 4px solid #000;
}

.bottom-border-thick {
  border-bottom: 4px solid transparent;
}

.bottom-border-thick:focus {
  border-bottom: 4px solid fade(black, 20%);
}

.tab-bar-bottom-shadow {
  box-shadow:
    0 1px fade(black, 10%),
    0 6px 6px fade(black, 5%);
}

.border-bottom--transparent {
  border-bottom-color: transparent;
}

.bottom-edge {
  box-shadow: inset 0 -4px 0 fade(black, 10%);
}

.chunky-focus:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

.weird-shadow:focus {
  box-shadow: none;
}

.text-shadow-white {
  text-shadow: 0 0 3px white;
}

.sunken {
  box-shadow:
    0 0 0 1px fade(black, 20%),
    inset 0 2px 3px fade(black, 20%);
}

.subtle-hr {
  border: 0;
  background: fade(black, 5%);
  height: 1px;
}

@import "pokeball";
@import "colors";
