dev-dist/
dist/
node_modules/
.vscode/

/bundle.*
/favicon-*.png
/*.csv

/public/licenses/
/public/changelog/
/public/credits/
/public/404/
/public/_redirects

.DS_Store

.env.local
.env.*.local

*~lock~

WIP.md
