[data-theme="dark"] {
  --background-button-position: top;

  --color-bg1: hsl(var(--hue-blue) 5% 22%);
  --color-bg2: hsl(var(--hue-blue) 5% 14%);
  --color-bg-ghost: hsl(var(--hue-blue) 5% 20%);

  --color-card-bg: hsl(var(--hue-blue) 5% 18%);
  --color-card-highlight: hsl(var(--hue-blue) 5% 32%);
  --color-card-shadow: hsl(var(--hue-blue) 5% 12%);

  --color-fg1: hsl(var(--hue-blue) 50% 92%);
  --color-fg2: hsl(var(--hue-blue) 25% 82%);
  --color-fg3: hsl(var(--hue-blue) 15% 72%);
  --color-fg4: hsl(var(--hue-blue) 15% 62%);

  --color-accent-bg: hsl(var(--hue-blue) 50% 92%);
  --color-accent-fg: hsl(var(--hue-blue) 5% 14%);

  --color-header-dark: hsl(var(--hue-blue) 5% 8%);
  --color-header-base: hsl(var(--hue-blue) 5% 8%);
  --color-header-highlight: hsl(var(--hue-blue) 5% 20%);
  --color-header-border: hsl(var(--hue-blue) 5% 20%);
  --color-header-text: hsl(var(--hue-blue) 5% 92%);

  --color-sidebar-dark: hsl(var(--hue-gold) 5% 8%);
  --color-sidebar-base: hsl(var(--hue-gold) 5% 8%);
  --color-sidebar-highlight: hsl(var(--hue-gold) 5% 20%);
  --color-sidebar-border: hsl(var(--hue-gold) 5% 20%);
  --color-sidebar-text: hsl(var(--hue-gold) 5% 92%);

  --color-button1: hsl(var(--hue-blue) 5% 28%);
  --color-button1b: hsl(var(--hue-blue) 5% 22%);
  --color-link: hsl(var(--hue-red) 90% 75%);
  --color-border1: hsl(var(--hue-blue) 5% 48%);
  --color-border2: hsl(var(--hue-blue) 5% 30%);
  --color-border3: hsl(var(--hue-blue) 5% 24%);
  --color-vibrant-border: hsl(var(--hue-red) 0% 100% / 20%);
  --color-vibrant-border1: hsl(var(--hue-red) 0% 100% / 80%);

  --color-scroll-fg: hsl(var(--hue-blue) 25% 82%);
  --color-scroll-bg: transparent;

  color: var(--color-fg1);
  background-color: var(--color-bg2);

  color-scheme: dark;
}
