[data-theme="light"] {
  --hue-ui: var(--hue-gold);

  --color-bg1: hsl(var(--hue-ui) 5% 100%);
  --color-bg2: hsl(var(--hue-ui) 5% 90%);
  --color-bg-ghost: hsl(var(--hue-ui) 5% 98%);

  --color-card-bg: hsl(var(--hue-ui) 5% 94%);
  --color-card-highlight: hsl(var(--hue-ui) 5% 100%);
  --color-card-shadow: hsl(var(--hue-ui) 5% 85%);

  --color-fg1: hsl(var(--hue-ui) 15% 7%);
  --color-fg2: hsl(var(--hue-ui) 15% 20%);
  --color-fg3: hsl(var(--hue-ui) 15% 40%);
  --color-fg4: hsl(var(--hue-ui) 15% 60%);

  --color-accent-bg: hsl(var(--hue-red) 70% 40%);
  --color-accent-fg: #fff;

  --color-header-dark: hsl(var(--hue-red) 60% 20%);
  --color-header-base: hsl(var(--hue-red) 60% 40%);
  --color-header-highlight: hsl(var(--hue-red) 40% 55%);
  --color-header-border: hsl(var(--hue-red) 60% 5%);
  --color-header-text: #fff;

  --color-sidebar-dark: hsl(var(--hue-red) 5% 100%);
  --color-sidebar-base: hsl(var(--hue-red) 5% 100%);
  --color-sidebar-highlight: hsl(var(--hue-red) 40% 90%);
  --color-sidebar-text: hsl(var(--hue-red) 60% 40%);
  --color-sidebar-border: hsl(var(--hue-red) 40% 75%);

  --color-button1: hsl(var(--hue-ui) 5% 100%);
  --color-button1b: hsl(var(--hue-ui) 5% 95%);

  --color-link: hsl(var(--hue-red) 70% 40%);

  --color-border1: hsl(var(--hue-ui) 5% 50%);
  --color-border2: hsl(var(--hue-ui) 5% 75%);
  --color-border3: hsl(var(--hue-ui) 5% 85%);
  --color-vibrant-border: hsl(var(--hue-red) 0% 0% / 10%);
  --color-vibrant-border1: hsl(var(--hue-red) 0% 0% / 60%);

  --color-scroll-fg: hsl(var(--hue-red) 70% 40%);
  --color-scroll-bg: transparent;

  color: var(--color-fg1);
  background-color: var(--color-bg2);
  scrollbar-color: rgb(from var(--color-fg1) r g b / 50%) transparent;
  color-scheme: light;
}
