/* GENERATED. Don't hand-edit. Regenerate with: npm run generate-md3-theme */
:root {
  --md-primary-palette-key-color: light-dark(#ad625a, #ad625a);
  --md-secondary-palette-key-color: light-dark(#926f6b, #926f6b);
  --md-tertiary-palette-key-color: light-dark(#8c7444, #8c7444);
  --md-neutral-palette-key-color: light-dark(#827472, #827472);
  --md-neutral-variant-palette-key-color: light-dark(#857371, #857371);
  --md-error-palette-key-color: light-dark(#de3730, #de3730);
  --md-background: light-dark(#fef8f4, #151311);
  --md-on-background: light-dark(#1d1b19, #e7e1dd);
  --md-surface: light-dark(#fef8f4, #151311);
  --md-surface-dim: light-dark(#ded9d5, #151311);
  --md-surface-bright: light-dark(#fef8f4, #3b3936);
  --md-surface-container-lowest: light-dark(#ffffff, #0f0e0c);
  --md-surface-container-low: light-dark(#f8f3ee, #1d1b19);
  --md-surface-container: light-dark(#f3ede8, #211f1d);
  --md-surface-container-high: light-dark(#ede7e3, #2c2a27);
  --md-surface-container-highest: light-dark(#e7e1dd, #373431);
  --md-on-surface: light-dark(#1d1b19, #e7e1dd);
  --md-surface-variant: light-dark(#e7e1dd, #494643);
  --md-on-surface-variant: light-dark(#494643, #cbc6c1);
  --md-inverse-surface: light-dark(#32302d, #e7e1dd);
  --md-inverse-on-surface: light-dark(#f5f0eb, #32302d);
  --md-outline: light-dark(#7a7673, #94908c);
  --md-outline-variant: light-dark(#cbc6c1, #494643);
  --md-shadow: light-dark(#000000, #000000);
  --md-scrim: light-dark(#000000, #000000);
  --md-surface-tint: light-dark(#685d47, #d3c5aa);
  --md-primary: light-dark(#c00014, #ffb4ab);
  --md-primary-dim: light-dark(#813f38, #fda49b);
  --md-on-primary: light-dark(#ffffff, #690006);
  --md-primary-container: light-dark(#ffdad6, #93000c);
  --md-on-primary-container: light-dark(#410002, #ffdad6);
  --md-primary-fixed: light-dark(#ffdad6, #ffdad6);
  --md-primary-fixed-dim: light-dark(#ffb4ab, #ffb4ab);
  --md-on-primary-fixed: light-dark(#3b0907, #3b0907);
  --md-on-primary-fixed-variant: light-dark(#73332e, #73332e);
  --md-inverse-primary: light-dark(#ffb4ab, #904a44);
  --md-secondary: light-dark(#005cb9, #aac7ff);
  --md-secondary-dim: light-dark(#6a4b47, #ffd3ce);
  --md-on-secondary: light-dark(#ffffff, #002f65);
  --md-secondary-container: light-dark(#d6e3ff, #00458e);
  --md-on-secondary-container: light-dark(#001b3e, #d6e3ff);
  --md-secondary-fixed: light-dark(#ffdad6, #ffdad6);
  --md-secondary-fixed-dim: light-dark(#e7bdb8, #e7bdb8);
  --md-on-secondary-fixed: light-dark(#2c1513, #2c1513);
  --md-on-secondary-fixed-variant: light-dark(#5d3f3c, #5d3f3c);
  --md-tertiary: light-dark(#136e00, #79dd5e);
  --md-tertiary-dim: light-dark(#644f23, #fedfa6);
  --md-on-tertiary: light-dark(#ffffff, #063900);
  --md-tertiary-container: light-dark(#94fa77, #0c5300);
  --md-on-tertiary-container: light-dark(#022100, #94fa77);
  --md-tertiary-fixed: light-dark(#fedfa6, #fedfa6);
  --md-tertiary-fixed-dim: light-dark(#e0c38c, #e0c38c);
  --md-on-tertiary-fixed: light-dark(#261900, #261900);
  --md-on-tertiary-fixed-variant: light-dark(#584419, #584419);
  --md-error: light-dark(#ba1a1a, #ffb4ab);
  --md-error-dim: light-dark(#a80710, #ff554a);
  --md-on-error: light-dark(#ffffff, #690005);
  --md-error-container: light-dark(#ffdad6, #93000a);
  --md-on-error-container: light-dark(#93000a, #ffdad6);
}
