[data-theme="night"] {
  --background-button-position: top;

  --color-bg1: hsl(0 0% 15%);
  --color-bg2: hsl(0 0% 5%);
  --color-bg-ghost: hsl(0 0% 15%);

  --color-card-bg: hsl(0 0% 10%);
  --color-card-highlight: hsl(0 0% 20%);
  --color-card-shadow: hsl(0 0% 2%);

  --color-fg1: hsl(0 0% 82%);
  --color-fg2: hsl(0 0% 72%);
  --color-fg3: hsl(0 0% 62%);
  --color-fg4: hsl(0 0% 52%);

  --color-accent-bg: hsl(0 0% 72%);
  --color-accent-fg: hsl(0 0% 5%);

  --color-header-dark: hsl(0 0% 5%);
  --color-header-base: hsl(0 0% 10%);
  --color-header-highlight: hsl(0 0% 20%);
  --color-header-border: hsl(0 0% 15%);
  --color-header-text: hsl(0 0% 82%);

  --color-sidebar-dark: hsl(0 0% 5%);
  --color-sidebar-base: hsl(0 0% 10%);
  --color-sidebar-highlight: hsl(0 0% 20%);
  --color-sidebar-border: hsl(0 0% 15%);
  --color-sidebar-text: hsl(0 0% 82%);

  --color-button1: hsl(0 0% 20%);
  --color-button1b: hsl(0 0% 15%);
  --color-link: hsl(var(--hue-teal) 90% 75%);
  --color-border1: hsl(0 0% 47%);
  --color-border2: hsl(0 0% 25%);
  --color-border3: hsl(0 0% 20%);
  --color-vibrant-border: hsl(var(--hue-red) 0% 100% / 20%);
  --color-vibrant-border1: hsl(var(--hue-red) 0% 100% / 80%);
  --color-scroll-fg: hsl(0 0% 62%);
  --color-scroll-bg: transparent;

  color: var(--color-fg1);
  background-color: var(--color-bg2);

  color-scheme: dark;
}
