.ScreenError_pre {
  margin: 0;
  font-size: 1rem;
  background: var(--color-bg1);
  color: var(--color-fg1);
  padding: var(--padding2);
  border: 1px solid var(--color-border2);
  border-radius: var(--border-radius2);
  white-space: pre-wrap;
  word-break: break-all;
}
