.small {
  font-size: var(--font-size0);
  color: var(--color-fg3);
  padding: 0 var(--padding2);
}

.monsterGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin: var(--padding3) 0;
  transition: 200ms opacity;
}

@media (width <= 40rem) {
  .monsterGrid {
    margin-inline: calc(-1 * var(--padding3));
  }
}

.monsterGrid[data-stale="true"] {
  opacity: 0.5;
}
