.small {
  font-size: var(--font-size0);
  color: var(--color-fg3);
  padding: 0 var(--padding2);
}

.searchArea {
  display: grid;
  gap: var(--padding2);
}

@media (width > 40rem) {
  .searchArea {
    grid-template-columns: 20rem auto;
    justify-content: center;
  }
}

.monsterGrid {
  --column-count: 1;
  display: grid;
  gap: var(--padding3);
  justify-content: center;
  grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
  margin-block: var(--padding3);
  margin-inline: calc(-1 * var(--padding3));
  transition: 200ms opacity;
}

@media (width > 45rem) {
  .monsterGrid {
    margin-inline: 0;
    --column-count: 2;
  }
}

@media (width > 70rem) {
  .monsterGrid {
    --column-count: 3;
  }
}

.monsterGrid[data-stale="true"] {
  opacity: 0.5;
}
