.root {
  display: grid;
  margin-top: var(--padding3);
  padding: var(--padding3);
  gap: var(--padding3) var(--padding5);
}

@media (width >= 50rem) {
  .root {
    grid-template-columns: 1fr 1fr;
  }
}

.tabBar {
  grid-column: 1 / -1;
}

.selectGroup {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
  gap: var(--padding2);
}
