.root {
  display: grid;
  margin-top: calc(-1 * var(--padding3));
  padding: var(--padding3);
  gap: var(--padding3) var(--padding5);
  grid-template-columns: minmax(0, 1fr);
}

@media (width >= 80rem) {
  .root {
    grid-template-columns: 3fr 4fr;
  }
}

.tabBar {
  grid-column: 1 / -1;
}
