.easterEgg {
  pointer-events: none;
  position: fixed;
  z-index: 1;
  top: 50dvh;
  left: 50dvw;
  translate: -50% -50%;
  opacity: 0;
  width: 80vmin;
  height: 80vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-pill);
  background: radial-gradient(
    circle at center,
    rgb(from var(--color-bg-base) r g b / 100%) 0% 30%,
    rgb(from var(--color-bg-base) r g b / 0%) 100%
  );
}

.easterEgg[data-animate="true"] {
  animation: 2s easterEgg_animation;
}

@keyframes easterEgg_animation {
  15%,
  90% {
    opacity: 1;
  }
}
