.root {
  display: grid;
  padding: var(--padding3);
  /* padding-top: calc(-1 * var(--padding3)); */
  gap: var(--padding3) var(--padding5);
}

@media (width >= 50rem) {
  .root {
    grid-template-columns: 1fr 1fr;
  }
}
