.root {
  display: grid;
  margin-top: var(--padding3);
  padding: var(--padding3);
  gap: var(--padding5);
  grid-template-columns: minmax(0, 1fr);
}

@media (min-width: 64rem) {
  .root {
    grid-template-columns: 4fr 6fr;
  }
}
