/* Minimal fallback styles for a readable error page... */
:where(:root) {
  --color-primary: #111;
  --color-border-secondary: #ddd;
  --color-bg-input: #fff;

  @media (prefers-color-scheme: dark) {
    --color-primary: #fff;
    --color-border-secondary: #333;
    --color-bg-input: #111;
  }
}

.fallback-content {
  animation: 1s fallback-content-animation;
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  font-size: 1.25rem;
  padding: 1rem;
  line-height: 1.5;

  :focus-visible {
    outline: 3px solid;
    outline-offset: 2px;
  }

  hgroup h1 + * {
    margin-top: -2rem;
  }

  :any-link {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: calc(1em / 6);
    text-decoration-thickness: 1.5px;

    &:focus-visible {
      outline-offset: 4px;
      border-radius: 0.25rem;
      text-decoration-line: none;
    }
  }

  :is(:any-link, button, summary):hover:not(:active):not(:disabled) {
    background-image: radial-gradient(rgb(from currentColor r g b / 4%));
  }

  button {
    border: 2px solid;
    border-radius: 4rem;
    background: transparent;
    padding: 0.25rem 2rem;
    font-weight: 500;
    letter-spacing: calc(1em / 32);

    &:disabled {
      border-color: transparent;
      background-color: rgb(from currentColor r g b / 16%);
      color: rgb(from currentColor r g b / 50%);
      cursor: not-allowed;
    }

    &:focus-visible {
      outline-offset: -1px;
    }
  }

  strong {
    font-weight: 500;
  }

  i {
    font-size: larger;
  }

  details {
    background-color: rgb(from currentColor r g b / 4%);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    summary {
      cursor: default;
      user-select: none;
      font-weight: 500;
      padding: 0.5rem 1rem;
      margin: -0.5rem -1rem;
      border-radius: 0.5rem;
    }

    &[open] {
      summary {
        margin-bottom: 0;
      }
    }
  }

  dt {
    font-weight: 500;
  }

  dd {
    margin-left: 0;
  }

  dd + dt {
    margin-top: 1rem;
  }

  kbd {
    background-color: rgb(from currentColor r g b / 4%);
    border-radius: 0.25rem;
    border: 1px solid rgb(from currentColor r g b / 8%);
    box-shadow: 0 1px 0 0 rgb(from currentColor r g b / 32%);
    padding: 1px 8px;
    font-size: smaller;
  }
}

@keyframes fallback-content-animation {
  0%,
  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
