.focus-header:focus-visible,
.focus-header:has(:focus-visible) {
  outline: 1px solid var(--color-header-dark);
  outline-offset: -1px;
  box-shadow: 0 0 0 3px var(--color-header-text);
}

.focus-tab:focus-visible,
.focus-tab:has(:focus-visible) {
  outline: 1px solid var(--color-bg1);
  outline-offset: -1px;
  box-shadow: 0 0 0 3px var(--color-fg1);
}

.focus-outline:focus-visible,
.focus-outline:has(:focus-visible) {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

.focus-simple:focus-visible,
.focus-simple:has(:focus-visible) {
  outline: 3px solid var(--color-fg1);
  outline-offset: -1px;
}

.focus-selected:focus-visible,
.focus-selected:has(:focus-visible) {
  outline: 2px solid var(--color-bg1);
  outline-offset: -2px;
  box-shadow: 0 0 0 3px var(--color-fg1);
}

.focus-none:focus {
  outline: none;
}
