/* https://gwfh.mranftl.com/fonts */
/* https://cloudconvert.com/ttf-to-woff2 */

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-VariableFont_wdth,wght.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}
