:root {
  line-height: 1.5;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-tap-highlight-color */
  -webkit-tap-highlight-color: transparent;

  /* macOS doesn't actually support subpixel text rendering any more, but all
  browser on that platform by default use a text rendering mode based on
  subpixel rendering... that doesn't actually work, and thus causes text to be
  slightly heavier than it should be... */
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  font-synthesis: none;
}

#app {
  display: flex;
  flex-direction: column;
  flex: auto;
}

[hidden] {
  display: none;
}

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
    animation-duration: 0ms !important;
  }
}

select,
button,
input {
  font: inherit;
  line-height: inherit;
  /* https://caniuse.com/css-appearance */
  -webkit-appearance: none;
  appearance: none;
}

[id] {
  scroll-margin-top: 1rem;
}

.weight-normal {
  font-weight: var(--weight-normal);
}

.weight-medium {
  font-weight: var(--weight-medium);
}

.center {
  margin-inline: auto;
}

[lang="ko"],
[lang="ja"],
[lang="zh-Hant"],
[lang="zh-Hans"] {
  --weight-normal: 400;
  --weight-medium: 400;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.content-wide {
  max-width: 80rem;
}

.content-narrow {
  max-width: 44rem;
}

.no-pointer {
  pointer-events: none;
  user-select: none;
}

.no-select {
  user-select: none;
}

.select-none {
  user-select: none;
}

.active-darken:active {
  filter: var(--filter-darken);
}

.active-darken-background:active {
  background-image: linear-gradient(
    hsl(from var(--color-primary) h s l / 5%) 0 100%
  );
}
