[hidden] {
  display: none;
}

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
    animation-duration: 0 !important;
  }
}

select,
button,
input {
  font: inherit;
  line-height: inherit;
  /* https://caniuse.com/css-appearance */
  -webkit-appearance: none;
  appearance: none;
}

[id] {
  scroll-margin-top: 1rem;
}

.weight-normal {
  font-weight: 400;
}

.weight-medium {
  font-weight: 500;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

:root[lang="ko"] .weight-medium,
:root[lang="ja"] .weight-medium,
:root[lang="zh-Hant"] .weight-medium,
:root[lang="zh-Hans"] .weight-medium {
  font-weight: 400;
}

.bg3 {
  background-color: var(--color-bg3);
}
.bg2 {
  background-color: var(--color-bg2);
}
.bg1 {
  background-color: var(--color-bg1);
}

.bg-poke {
  background-color: var(--color-pokeball);
}

.fg4 {
  color: var(--color-fg4);
}
.fg3 {
  color: var(--color-fg3);
}
.fg2 {
  color: var(--color-fg2);
}
.fg1 {
  color: var(--color-fg1);
}

.border-vibrant2 {
  border-color: var(--color-vibrant-border1);
}
.border-vibrant {
  border-color: var(--color-vibrant-border);
}

.border3 {
  border-color: var(--color-border3);
}
.border2 {
  border-color: var(--color-border2);
}
.border1 {
  border-color: var(--color-border1);
}

.grid {
  display: grid;
}

.gap4 {
  gap: 2rem;
}
.gap3 {
  gap: 1rem;
}
.gap2 {
  gap: 0.5rem;
}
.gap1 {
  gap: 0.25rem;
}

.pre-wrap {
  white-space: pre-wrap;
}

.word-break-all {
  word-break: break-all;
}

.fill-currentcolor {
  fill: currentcolor;
}

.w0 {
  width: 0;
}

.cursor-na {
  cursor: not-allowed;
}

.fg-link {
  color: var(--color-link);
}
.fg-link:hover {
  color: var(--color-link-hover);
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.fallback-content {
  animation: 1s fallback-content-animation;
}

@keyframes fallback-content-animation {
  0%,
  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.columns-type-selector {
  display: grid;
  gap: var(--padding2);
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(var(--type-min-width) + 2.5rem + 2px), 1fr)
  );
}

.button-bg {
  background: var(--background-button-bg);
}

.button-bg:hover {
  background: var(--background-button-bg-hover);
  background: linear-gradient(
    to bottom,
    var(--color-button-hover1) 20%,
    var(--color-button-hover1b)
  );
}

.content-wide {
  max-width: 1280px;
}

.content-narrow {
  max-width: 700px;
}

.button-shadow {
  box-shadow: var(--shadow-button);
}

.inset-shadow {
  box-shadow: var(--shadow-inset);
}

.no-pointer {
  pointer-events: none;
  user-select: none;
}

.no-select {
  user-select: none;
}

.button-selected {
  border-color: var(--color-fg1);
  background: var(--color-fg1);
  color: var(--color-bg1);
}

.list-simple {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: var(--padding3);
}

@media (min-width: 40em) {
  .grid-col2 {
    grid-template-columns: 1fr 1fr;
  }
}

.subtle-hr {
  border: 0;
  background: var(--color-border3);
  height: 1px;
}

.fit-content {
  max-width: fit-content;
}

.type-bg {
  background: var(--type-color, #333);
  color: white;
  text-shadow: var(--type-text-shadow);
}

.type-bg-text {
  color: white;
  text-shadow: var(--type-text-shadow);
}

.type-any-label {
  background: var(--type-color-bg);
  box-shadow: 0 0 0 1px var(--type-color-border);
}

.select-none {
  user-select: none;
}

.pointer-none {
  pointer-events: none;
}

.active-darken:active {
  filter: var(--filter-darken);
}
