/* TODO: CSS `light-dark()` has been supported for over a year. Refactor this to
use `light-dark()` and `color-scheme` to decide colors with less repetition, or
something. */

:root,
[data-theme="light"] {
  --hue-blue: 240;
  --hue-green: 120;
  --hue-red: 0;
  --hue-teal: 200;

  --color-bg1: hsl(var(--hue-blue) 5% 100%);
  --color-bg2: hsl(var(--hue-blue) 10% 90%);
  --color-fg1: hsl(var(--hue-blue) 15% 7%);
  --color-fg2: hsl(var(--hue-blue) 15% 20%);
  --color-fg3: hsl(var(--hue-blue) 15% 40%);
  --color-fg4: hsl(var(--hue-blue) 15% 60%);
  --color-accent-bg: hsl(var(--hue-blue) 15% 20%);
  --color-accent-fg: hsl(var(--hue-blue) 5% 100%);
  --color-header-dark: hsl(var(--hue-red) 90% 15%);
  --color-header-base: hsl(var(--hue-red) 90% 35%);
  --color-header-highlight: hsl(var(--hue-red) 80% 65%);
  --color-header-text: #fff;
  --color-header-text-shadow: hsl(var(--hue-blue) 5% 0% / 50%);
  --color-header-border1: hsl(var(--hue-blue) 5% 0% / 10%);
  --color-header-border2: hsl(var(--hue-blue) 5% 0% / 60%);
  --color-button1: hsl(var(--hue-blue) 5% 100%);
  --color-button1b: hsl(var(--hue-blue) 5% 96%);
  --color-badge: hsl(var(--hue-green) 70% 30%);
  --color-link: hsl(var(--hue-blue) 100% 50%);
  --color-border1: hsl(var(--hue-blue) 10% 50%);
  --color-border2: hsl(var(--hue-blue) 10% 70%);
  --color-border3: hsl(var(--hue-blue) 10% 80%);
  --color-vibrant-border: hsl(var(--hue-red) 0% 0% / 20%);
  --color-vibrant-border1: hsl(var(--hue-red) 0% 0% / 60%);
  --color-scroll-fg: hsl(var(--hue-blue) 10% 20%);
  --color-scroll-bg: hsl(var(--hue-blue) 10% 85%);

  --weight-normal: 400;
  --weight-medium: 500;

  --background-header:
    linear-gradient(
        to right,
        var(--color-header-border1),
        var(--color-header-border2),
        var(--color-header-border1)
      )
      bottom / auto 1px no-repeat,
    radial-gradient(
        50% 100% at bottom,
        var(--color-header-highlight),
        var(--color-header-base)
      )
      var(--color-header-base);

  --background-button-bg: linear-gradient(
      var(--color-button1),
      var(--color-button1b)
    )
    var(--color-button1);

  --padding0: 0;
  --padding1: 4px;
  --padding2: 8px;
  --padding3: 16px;
  --padding4: 32px;
  --padding5: 64px;

  --border-radius0: 0;
  --border-radius1: 2px;
  --border-radius2: 8px;
  --border-radius3: 16px;
  --border-radius-pill: 9999px;

  --shadow-button: 0 2px 2px rgb(0 0 0 / 10%);
  --shadow-inset: inset 0 2px 4px rgb(0 0 0 / 10%);

  --filter-darken: brightness(90%);
  --filter-image: drop-shadow(0 0 2px hsl(var(--hue-red) 0% 100% / 20%))
    drop-shadow(4px 4px 16px hsl(var(--hue-red) 0% 0% / 20%))
    drop-shadow(8px 8px 32px hsl(var(--hue-red) 0% 0% / 10%));

  --font-size0: 0.875rem;
  --font-size1: 1rem;
  --font-size2: 1.25rem;
  --font-size3: 1.5rem;

  --font-sans: "Roboto", system-ui, sans-serif;

  --type-min-width: 6rem;
  --type-text-shadow: 0 0 2px #000f, 0 0 8px #0008, 0 0 16px #0008;

  font-family: var(--font-sans);
  scrollbar-color: var(--color-scroll-fg) var(--color-scroll-bg);
  overflow-y: scroll;
  color-scheme: light;
}

[lang="pl"],
[lang="ru"] {
  --type-min-width: 9rem;
}

[lang="ko"],
[lang="ja"],
[lang="zh-Hant"],
[lang="zh-Hans"] {
  --weight-normal: 400;
  --weight-medium: 400;
}

[data-theme="dark"] {
  --color-bg1: hsl(var(--hue-blue) 10% 26%);
  --color-bg2: hsl(var(--hue-blue) 10% 14%);
  --color-fg1: hsl(var(--hue-blue) 15% 92%);
  --color-fg2: hsl(var(--hue-blue) 15% 82%);
  --color-fg3: hsl(var(--hue-blue) 15% 72%);
  --color-fg4: hsl(var(--hue-blue) 15% 62%);
  --color-accent-bg: hsl(var(--hue-blue) 15% 82%);
  --color-accent-fg: hsl(var(--hue-blue) 10% 7%);
  --color-header-base: hsl(var(--hue-red) 60% 35%);
  --color-header-highlight: hsl(var(--hue-red) 60% 55%);
  --color-header-text: #fff;
  --color-header-text-shadow: hsl(var(--hue-blue) 5% 0% / 50%);
  --color-header-border1: hsl(var(--hue-blue) 5% 100% / 20%);
  --color-header-border2: hsl(var(--hue-blue) 5% 100% / 50%);
  --color-button1: hsl(var(--hue-blue) 10% 26%);
  --color-button1b: hsl(var(--hue-blue) 10% 22%);
  --color-badge: hsl(var(--hue-green) 60% 60%);
  --color-link: hsl(var(--hue-teal) 90% 75%);
  --color-border1: hsl(var(--hue-blue) 10% 52%);
  --color-border2: hsl(var(--hue-blue) 10% 37%);
  --color-border3: hsl(var(--hue-blue) 10% 32%);
  --color-vibrant-border: hsl(var(--hue-red) 0% 100% / 40%);
  --color-vibrant-border1: hsl(var(--hue-red) 0% 100% / 80%);
  --color-scroll-fg: hsl(var(--hue-blue) 10% 70%);
  --color-scroll-bg: hsl(var(--hue-blue) 10% 15%);
  color-scheme: dark;
}

[data-theme="night"] {
  --color-bg1: hsl(var(--hue-blue) 10% 15%);
  --color-bg2: hsl(var(--hue-blue) 10% 5%);
  --color-fg1: hsl(var(--hue-blue) 15% 82%);
  --color-fg2: hsl(var(--hue-blue) 15% 72%);
  --color-fg3: hsl(var(--hue-blue) 15% 62%);
  --color-fg4: hsl(var(--hue-blue) 15% 52%);
  --color-accent-bg: hsl(var(--hue-blue) 15% 72%);
  --color-accent-fg: hsl(var(--hue-blue) 15% 5%);
  --color-header-dark: hsl(var(--hue-blue) 5% 5%);
  --color-header-base: hsl(var(--hue-blue) 5% 10%);
  --color-header-highlight: hsl(var(--hue-blue) 5% 20%);
  --color-header-text: hsl(var(--hue-blue) 5% 82%);
  --color-header-text-shadow: hsl(var(--hue-blue) 5% 0% / 50%);
  --color-header-border1: hsl(var(--hue-blue) 5% 100% / 5%);
  --color-header-border2: hsl(var(--hue-blue) 5% 100% / 20%);
  --color-button1: hsl(var(--hue-blue) 10% 18%);
  --color-button1b: hsl(var(--hue-blue) 10% 14%);
  --color-badge: hsl(var(--hue-green) 60% 60%);
  --color-link: hsl(var(--hue-teal) 90% 75%);
  --color-border1: hsl(var(--hue-blue) 10% 42%);
  --color-border2: hsl(var(--hue-blue) 10% 30%);
  --color-border3: hsl(var(--hue-blue) 10% 25%);
  --color-vibrant-border: hsl(var(--hue-red) 0% 100% / 50%);
  --color-vibrant-border1: hsl(var(--hue-red) 0% 100% / 80%);
  --color-scroll-fg: hsl(var(--hue-blue) 10% 62%);
  --color-scroll-bg: hsl(var(--hue-blue) 10% 5%);
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  [data-theme="auto"] {
    --color-bg1: hsl(var(--hue-blue) 10% 26%);
    --color-bg2: hsl(var(--hue-blue) 10% 14%);
    --color-fg1: hsl(var(--hue-blue) 15% 92%);
    --color-fg2: hsl(var(--hue-blue) 15% 82%);
    --color-fg3: hsl(var(--hue-blue) 15% 72%);
    --color-fg4: hsl(var(--hue-blue) 15% 62%);
    --color-accent-bg: hsl(var(--hue-blue) 15% 82%);
    --color-accent-fg: hsl(var(--hue-blue) 10% 7%);
    --color-header-base: hsl(var(--hue-red) 60% 35%);
    --color-header-highlight: hsl(var(--hue-red) 60% 55%);
    --color-header-text: #fff;
    --color-header-text-shadow: hsl(var(--hue-blue) 5% 0% / 50%);
    --color-header-border1: hsl(var(--hue-blue) 5% 100% / 20%);
    --color-header-border2: hsl(var(--hue-blue) 5% 100% / 50%);
    --color-button1: hsl(var(--hue-blue) 10% 26%);
    --color-button1b: hsl(var(--hue-blue) 10% 22%);
    --color-badge: hsl(var(--hue-green) 60% 60%);
    --color-link: hsl(var(--hue-teal) 90% 75%);
    --color-border1: hsl(var(--hue-blue) 10% 52%);
    --color-border2: hsl(var(--hue-blue) 10% 37%);
    --color-border3: hsl(var(--hue-blue) 10% 32%);
    --color-vibrant-border: hsl(var(--hue-red) 0% 100% / 40%);
    --color-vibrant-border1: hsl(var(--hue-red) 0% 100% / 80%);
    --color-scroll-fg: hsl(var(--hue-blue) 10% 70%);
    --color-scroll-bg: hsl(var(--hue-blue) 10% 15%);
    color-scheme: dark;
  }
}
