/* TODO: CSS `light-dark()` has been supported since May 2024. Refactor this to
use `light-dark()` and `color-scheme` to decide colors with less repetition, or
something. You can set `color-scheme: dark` in a `@media` block. */

:root {
  --hue-gold: 35;
  --hue-blue: 230;
  --hue-red: 355;
  --hue-teal: 175;
  --hue-green: 140;

  --hue-ui: var(--hue-blue);

  --weight-normal: 400;
  --weight-medium: 500;

  --background-button-position: bottom;
  --background-button:
    linear-gradient(var(--color-button-top), var(--color-button-bottom))
      padding-box,
    radial-gradient(
        at var(--background-button-position),
        var(--color-border-primary),
        var(--color-border-secondary)
      )
      border-box;

  --padding0: 2px;
  --padding1: 4px;
  --padding2: 8px;
  --padding3: 16px;
  --padding4: 32px;
  --padding5: 64px;

  --border-radius0: 2px;
  --border-radius1: 4px;
  --border-radius2: 8px;
  --border-radius3: 16px;
  --border-radius-pill: 9999px;

  --color-modal-backdrop: hsl(var(--hue-ui) 10% 20% / 80%);

  --shadow-tabs: 0 0 16px rgb(0 0 0 / 20%);
  --shadow-header: 0 0 8px rgb(0 0 0 / 10%);
  --shadow-button: 0 1px 0 rgb(0 0 0 / 10%);
  --shadow-inset: inset 0 1px 0 rgb(0 0 0 / 10%);

  --filter-darken: brightness(90%);
  /* Don't overcomplicate this filter or Pokedex scrolling can get really slow
  in Android Firefox */
  --filter-image: drop-shadow(8px 8px 16px hsl(var(--hue-ui) 10% 20% / 30%));

  --logo-letter-spacing: calc(-1rem / 32);

  --font-size0: 0.875rem;
  --font-size1: 1rem;
  --font-size2: 1.25rem;
  --font-size3: 1.5rem;

  --font-sans: "Roboto", system-ui, sans-serif;

  --type-min-width: 6rem;

  color: light-dark(#222, #eee);
  background-color: light-dark(#eee, #222);
  color-scheme: light dark;

  font-family: var(--font-sans);
  scrollbar-color: rgb(from var(--color-primary) r g b / 50%) transparent;
}

[lang="pl"],
[lang="ru"] {
  --type-min-width: 6rem;
  --logo-letter-spacing: initial;
}

[lang="ko"],
[lang="ja"],
[lang="zh-Hant"],
[lang="zh-Hans"] {
  --weight-normal: 400;
  --weight-medium: 400;
  --logo-letter-spacing: initial;
}
