:root {
  --color-bg1: hsl(0 0% 100%);
  --color-bg2: hsl(0 0% 96%);
  --color-bg3: hsl(0 0% 90%);
  --color-fg1: hsl(0 0% 7%);
  --color-fg2: hsl(0 0% 20%);
  --color-fg3: hsl(0 0% 40%);
  --color-fg4: hsl(0 0% 60%);
  --color-pokeball: hsl(0 90% 45%);
  --color-button1: hsl(0 0% 100%);
  --color-button1b: hsl(0 0% 96%);
  --color-button-hover1: hsl(200 100% 98%);
  --color-button-hover1b: hsl(200 100% 96%);
  --color-badge: hsl(120 70% 30%);
  --color-link: hsl(240 100% 50%);
  --color-link-hover: hsl(240 60% 60%);
  --color-border1: hsl(0 0% 50%);
  --color-border2: hsl(0 0% 80%);
  --color-border3: hsl(0 0% 90%);
  --color-vibrant-border: hsl(0 0% 0% / 0.2);
  --color-vibrant-border1: hsl(0 0% 0% / 0.6);
  --color-scroll-fg: hsl(0 0% 20%);
  --color-scroll-bg: hsl(0 0% 85%);

  --weight-normal: 400;
  --weight-medium: 500;
  --weight-bold: 600;

  --background-button-bg: linear-gradient(
      to bottom,
      var(--color-button1) 20%,
      var(--color-button1b)
    )
    var(--color-button1);
  --background-button-bg-hover: linear-gradient(
      to bottom,
      var(--color-button-hover1) 20%,
      var(--color-button-hover1b)
    )
    var(--color-button-hover1);

  --padding0: 0;
  --padding1: 0.25rem;
  --padding2: 0.5rem;
  --padding3: 1rem;
  --padding4: 2rem;

  --border-radius0: 0;
  --border-radius1: 0.125rem;
  --border-radius2: 0.25rem;
  --border-radius-pill: 9999px;

  --shadow-button: 0 2px 4px rgb(0 0 0 / 10%);
  --shadow-inset: inset 0 2px 4px rgb(0 0 0 / 10%);

  --filter-darken: brightness(90%);
  --filter-image: drop-shadow(0 0 1px hsl(0 0% 100% / 50%))
    drop-shadow(4px 4px 16px hsl(0 0% 0% / 20%));

  --font-sans: "Roboto", system-ui, sans-serif;

  --type-min-width: 6rem;
  --type-text-shadow: 0 1px 0 black, 0 0 1px rgb(0 0 0 / 60%),
    0 0 2px rgb(0 0 0 / 70%), 0 0 3px rgb(0 0 0 / 80%), 0 0 4px rgb(0 0 0 / 90%);

  font-family: var(--font-sans);
  scrollbar-color: var(--color-scroll-fg) var(--color-scroll-bg);
  overflow-y: scroll;
  color-scheme: light;
}

:root[lang="pl"],
:root[lang="ru"] {
  --type-min-width: 9rem;
}

:root[lang="ko"],
:root[lang="ja"],
:root[lang="zh-Hant"],
:root[lang="zh-Hans"] {
  --weight-normal: 400;
  --weight-medium: 400;
  /* ??? */
  /* --weight-bold: 400; */
}

:root[data-theme="dark"] {
  --color-bg1: hsl(220 20% 25%);
  --color-bg2: hsl(220 20% 20%);
  --color-bg3: hsl(220 20% 30%);
  --color-fg1: hsl(220 20% 90%);
  --color-fg2: hsl(220 20% 80%);
  --color-fg3: hsl(220 20% 70%);
  --color-fg4: hsl(220 20% 60%);
  --color-pokeball: hsl(0 70% 40%);
  --color-button1: hsl(220 20% 28%);
  --color-button1b: hsl(220 20% 24%);
  --color-button-hover1: hsl(220 20% 32%);
  --color-button-hover1b: hsl(220 20% 28%);
  --color-badge: hsl(120 60% 60%);
  --color-link: hsl(180 100% 70%);
  --color-link-hover: hsl(180 80% 95%);
  --color-border1: hsl(220 20% 55%);
  --color-border2: hsl(220 20% 35%);
  --color-border3: hsl(220 20% 30%);
  --color-vibrant-border: hsl(0 0% 100% / 0.4);
  --color-vibrant-border1: hsl(0 0% 100% / 0.8);
  --color-scroll-fg: hsl(220 20% 70%);
  --color-scroll-bg: hsl(220 20% 15%);
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root[data-theme="auto"] {
    --color-bg1: hsl(220 20% 25%);
    --color-bg2: hsl(220 20% 20%);
    --color-bg3: hsl(220 20% 30%);
    --color-fg1: hsl(220 20% 90%);
    --color-fg2: hsl(220 20% 80%);
    --color-fg3: hsl(220 20% 70%);
    --color-fg4: hsl(220 20% 60%);
    --color-pokeball: hsl(0 70% 40%);
    --color-button1: hsl(220 20% 28%);
    --color-button1b: hsl(220 20% 24%);
    --color-button-hover1: hsl(220 20% 32%);
    --color-button-hover1b: hsl(220 20% 28%);
    --color-badge: hsl(120 60% 60%);
    --color-link: hsl(180 100% 70%);
    --color-link-hover: hsl(180 80% 95%);
    --color-border1: hsl(220 20% 55%);
    --color-border2: hsl(220 20% 35%);
    --color-border3: hsl(220 20% 30%);
    --color-vibrant-border: hsl(0 0% 100% / 0.4);
    --color-vibrant-border1: hsl(0 0% 100% / 0.8);
    --color-scroll-fg: hsl(220 20% 70%);
    --color-scroll-bg: hsl(220 20% 15%);
    color-scheme: dark;
  }
}
