:root,
[data-theme="light"] {
  --color-bg1: hsl(0 0% 100%);
  --color-bg2: hsl(0 0% 90%);
  --color-fg1: hsl(0 0% 7%);
  --color-fg2: hsl(0 0% 20%);
  --color-fg3: hsl(0 0% 40%);
  --color-fg4: hsl(0 0% 60%);
  --color-header-background: radial-gradient(
      50% 100% at bottom,
      hsl(0 90% 65%),
      hsl(0 90% 35%)
    )
    hsl(0 90% 35%);
  --color-header-text: #fff;
  --color-header-text-shadow: hsl(0 0% 0% / 50%);
  --color-header-border: hsl(0 0% 0% / 0.2);
  --color-button1: hsl(0 0% 100%);
  --color-button1b: hsl(0 0% 96%);
  --color-button-hover1: hsl(200 100% 98%);
  --color-button-hover1b: hsl(200 100% 96%);
  --color-badge: hsl(120 70% 30%);
  --color-link: hsl(240 100% 50%);
  --color-link-hover: hsl(240 60% 60%);
  --color-border1: hsl(0 0% 55%);
  --color-border2: hsl(0 0% 70%);
  --color-border3: hsl(0 0% 80%);
  --color-vibrant-border: hsl(0 0% 0% / 0.2);
  --color-vibrant-border1: hsl(0 0% 0% / 0.6);
  --color-scroll-fg: hsl(0 0% 20%);
  --color-scroll-bg: hsl(0 0% 85%);

  --weight-normal: 400;
  --weight-medium: 500;

  --background-button-bg: linear-gradient(
      to bottom,
      var(--color-button1) 20%,
      var(--color-button1b)
    )
    var(--color-button1);
  --background-button-bg-hover: linear-gradient(
      to bottom,
      var(--color-button-hover1) 20%,
      var(--color-button-hover1b)
    )
    var(--color-button-hover1);

  --padding0: 0;
  --padding1: 0.25rem;
  --padding2: 0.5rem;
  --padding3: 1rem;
  --padding4: 2rem;
  --padding5: 4rem;

  --border-radius0: 0;
  --border-radius1: 0.125rem;
  --border-radius2: 0.25rem;
  --border-radius3: 0.5rem;
  --border-radius-pill: 9999px;

  --shadow-button: 0 2px 4px rgb(0 0 0 / 10%);
  --shadow-inset: inset 0 2px 4px rgb(0 0 0 / 10%);

  --filter-darken: brightness(90%);
  --filter-image: drop-shadow(0 0 1px hsl(0 0% 100% / 50%))
    drop-shadow(4px 4px 16px hsl(0 0% 0% / 20%));

  --font-size0: 0.875rem;
  --font-size1: 1rem;
  --font-size2: 1.25rem;
  --font-size3: 1.5rem;

  --font-sans: "Roboto", system-ui, sans-serif;

  --type-min-width: 6rem;
  --type-text-shadow: 0 0 2px #000f, 0 0 8px #0008, 0 0 16px #0008;

  font-family: var(--font-sans);
  scrollbar-color: var(--color-scroll-fg) var(--color-scroll-bg);
  overflow-y: scroll;
  color-scheme: light;
}

[lang="pl"],
[lang="ru"] {
  --type-min-width: 9rem;
}

[lang="ko"],
[lang="ja"],
[lang="zh-Hant"],
[lang="zh-Hans"] {
  --weight-normal: 400;
  --weight-medium: 400;
}

[data-theme="dark"] {
  --color-bg1: hsl(0 0% 22%);
  --color-bg2: hsl(0 0% 15%);
  --color-fg1: hsl(0 0% 92%);
  --color-fg2: hsl(0 0% 82%);
  --color-fg3: hsl(0 0% 72%);
  --color-fg4: hsl(0 0% 62%);
  --color-header-background: radial-gradient(
      50% 100% at bottom,
      hsl(0 60% 55%),
      hsl(0 90% 35%)
    )
    hsl(0 90% 35%);
  --color-header-text: #fff;
  --color-header-text-shadow: hsl(0 0% 0% / 50%);
  --color-header-border: hsl(0 0% 100% / 0.4);
  --color-button1: hsl(0 0% 28%);
  --color-button1b: hsl(0 0% 24%);
  --color-button-hover1: hsl(0 0% 29%);
  --color-button-hover1b: hsl(0 0% 25%);
  --color-badge: hsl(120 60% 60%);
  --color-link: hsl(180 80% 70%);
  --color-link-hover: hsl(180 80% 95%);
  --color-border1: hsl(0 0% 52%);
  --color-border2: hsl(0 0% 37%);
  --color-border3: hsl(0 0% 32%);
  --color-vibrant-border: hsl(0 0% 100% / 0.4);
  --color-vibrant-border1: hsl(0 0% 100% / 0.8);
  --color-scroll-fg: hsl(0 0% 70%);
  --color-scroll-bg: hsl(0 0% 15%);
  color-scheme: dark;
}

[data-theme="night"] {
  --color-bg1: hsl(0 0% 10%);
  --color-bg2: hsl(0 0% 5%);
  --color-fg1: hsl(0 0% 82%);
  --color-fg2: hsl(0 0% 72%);
  --color-fg3: hsl(0 0% 62%);
  --color-fg4: hsl(0 0% 52%);
  --color-header-background: radial-gradient(
      50% 100% at bottom,
      hsl(0 0% 20%),
      hsl(0 0% 15%)
    )
    hsl(0 0% 15%);
  --color-header-text: hsl(0 0% 82%);
  --color-header-text-shadow: hsl(0 0% 0% / 50%);
  --color-header-border: hsl(0 0% 100% / 0.2);
  --color-button1: hsl(0 0% 14%);
  --color-button1b: hsl(0 0% 10%);
  --color-button-hover1: hsl(0 0% 18%);
  --color-button-hover1b: hsl(0 0% 14%);
  --color-badge: hsl(120 60% 60%);
  --color-link: hsl(180 80% 70%);
  --color-link-hover: hsl(180 80% 95%);
  --color-border1: hsl(0 0% 36%);
  --color-border2: hsl(0 0% 20%);
  --color-border3: hsl(0 0% 15%);
  --color-vibrant-border: hsl(0 0% 100% / 0.4);
  --color-vibrant-border1: hsl(0 0% 100% / 0.8);
  --color-scroll-fg: hsl(0 0% 62%);
  --color-scroll-bg: hsl(0 0% 5%);
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  [data-theme="auto"] {
    --color-bg1: hsl(0 0% 22%);
    --color-bg2: hsl(0 0% 15%);
    --color-fg1: hsl(0 0% 92%);
    --color-fg2: hsl(0 0% 82%);
    --color-fg3: hsl(0 0% 72%);
    --color-fg4: hsl(0 0% 62%);
    --color-header-background: radial-gradient(
        50% 100% at bottom,
        hsl(0 60% 55%),
        hsl(0 90% 35%)
      )
      hsl(0 90% 35%);
    --color-header-text: #fff;
    --color-header-text-shadow: hsl(0 0% 0% / 50%);
    --color-header-border: hsl(0 0% 100% / 0.4);
    --color-button1: hsl(0 0% 28%);
    --color-button1b: hsl(0 0% 24%);
    --color-button-hover1: hsl(0 0% 29%);
    --color-button-hover1b: hsl(0 0% 25%);
    --color-badge: hsl(120 60% 60%);
    --color-link: hsl(180 100% 70%);
    --color-link-hover: hsl(180 80% 95%);
    --color-border1: hsl(0 0% 52%);
    --color-border2: hsl(0 0% 37%);
    --color-border3: hsl(0 0% 32%);
    --color-vibrant-border: hsl(0 0% 100% / 0.4);
    --color-vibrant-border1: hsl(0 0% 100% / 0.8);
    --color-scroll-fg: hsl(0 0% 70%);
    --color-scroll-bg: hsl(0 0% 15%);
    color-scheme: dark;
  }
}
