.root {
  flex: auto;
  display: grid;
  gap: 0;

  grid-template-areas:
    "header"
    "sidebar"
    "content";

  grid-template-rows: auto 1fr;

  /**
   * Support rendering content inside the "chin" on Android Chrome. This draws the
   * gesture bar over the top of the viewport, rather than creating a smaller
   * viewport that sits above the chin.
   *
   * https://developer.chrome.com/docs/css-ui/edge-to-edge
   *
   * https://webkit.org/blog/7929/designing-websites-for-iphone-x/
   */
  padding-top: max(env(safe-area-max-inset-top, 0px), env(safe-area-inset-top));
  padding-bottom: max(
    env(safe-area-max-inset-bottom, 0px),
    env(safe-area-inset-bottom)
  );
  padding-left: max(
    env(safe-area-max-inset-left, 0px),
    env(safe-area-inset-left)
  );
  padding-right: max(
    env(safe-area-max-inset-right, 0px),
    env(safe-area-inset-right)
  );
}

.menuButton {
  display: flex;
  border: 1px solid var(--color-header-highlight);
  padding: var(--padding1);
  background: transparent;
  color: inherit;
  border-radius: var(--border-radius2);
  text-shadow: inherit;
}

.root:where(:has(.menuButton[aria-pressed="true"])) {
  background: var(--color-header-base);
  color: var(--color-header-text);
}

.menuButton[aria-pressed="true"] {
  background: var(--color-header-text);
  color: var(--color-header-dark);
  border-color: transparent;
}

@media (width >= 60rem) {
  .menuButton {
    display: none;
  }
}

@media (width < 60rem) {
  :has(.menuButton[aria-pressed="false"]) .sidebar {
    display: none;
  }

  :has(.menuButton[aria-pressed="false"]) .content {
    border-top-left-radius: 0;
  }

  :has(.menuButton[aria-pressed="true"]) .content {
    display: none;
  }
}

.header {
  grid-area: header;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: var(--padding3);
  color: var(--color-header-text);
  background: var(--color-header-base);
}

.sidebar {
  display: block;
  grid-area: sidebar;
  margin: 0;
  border: 0;
  background: var(--color-header-base);
  color: var(--color-header-text);
  padding-bottom: var(--padding4);
}

.content {
  grid-area: content;
  color: var(--color-fg1);
  background: var(--color-bg2);
}

.tabBar {
  /* gap: var(--padding2); */
  flex-wrap: wrap;
  display: grid;
  padding-right: var(--padding2);
  /* grid-template-columns: repeat(2, 1fr); */
  /* justify-content: center; */
}

.easterEgg {
  pointer-events: none;
  position: fixed;
  z-index: 1;
  top: 50vh;
  left: 50vw;
  translate: -50% -50%;
  scale: 80%;
  rotate: x -30deg;
  opacity: 0;
  padding: 4rem;
  border-radius: 9999px;
  background: radial-gradient(
    circle at center,
    rgb(from var(--color-card-bg) r g b / 100%),
    rgb(from var(--color-card-bg) r g b / 0%)
  );
  backdrop-filter: saturate(150%) blur(16px);
  box-shadow:
    inset 0 1px 0 var(--color-card-highlight),
    inset 0 -1px 0 var(--color-card-highlight),
    0 16px 32px 0 hsl(var(--hue-blue) 20% 10% / 20%);
}

.easterEgg[data-animate="true"] {
  animation: 2s easterEgg_animation;
}

@media (prefers-reduced-motion) {
  .easterEgg {
    scale: 100% !important;
    rotate: 0deg !important;
  }

  .easterEgg[data-animate="true"] {
    animation: 4s easterEgg_animation !important;
  }
}

@keyframes easterEgg_animation {
  15%,
  90% {
    opacity: 1;
    rotate: 0deg;
    scale: 100%;
  }
}

.headerContent {
  width: 100%;
  display: flex;
  gap: var(--padding2);
  padding: var(--padding2) var(--padding3);
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

@media (width < 60rem) {
  .header {
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid var(--color-header-border);
  }
}

@media (width >= 60rem) {
  .headerContent {
    gap: var(--padding2);
    padding: var(--padding2);
    align-items: center;
    max-width: initial;
  }
}

.heading {
  line-height: 1.15;

  color: var(--color-header-text);
  margin: 0;
  align-items: center;
  flex-direction: row;
  gap: var(--padding3);

  display: flex;
  justify-content: center;
}

.titleStack {
  display: flex;
  flex-direction: column;
  gap: var(--padding1);
}

.title {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  font-size: var(--font-size0);
  font-weight: var(--weight-normal);
  margin: 0;
}

@media (width < 22rem) {
  .subtitle {
    font-stretch: ultra-condensed;
    letter-spacing: var(--logo-letter-spacing);
  }
}

:where(
    [lang="fr"],
    [lang="es"],
    [lang="it"],
    [lang="pt-BR"],
    [lang="da"],
    [lang="pl"],
    [lang="nl"]
  )
  .heading {
  font-size: 1.25rem;
}

:where(
    [lang="ja"],
    [lang="ja-Hrkt"],
    [lang="pt-PT"],
    [lang="ro"],
    [lang="vi"],
    [lang="kk"],
    [lang="ru"]
  )
  .heading {
  font-size: 1rem;
}

@media (width >= 60rem) {
  .heading {
    gap: var(--padding2);
    font-size: 2rem;
  }

  .titleStack {
    flex-direction: row;
    align-items: center;
    gap: var(--padding3);
  }
}

.heading a {
  color: inherit;
  text-decoration: none;
}

.pokeball {
  --color-top1: hsl(var(--hue-blue) 30% 100%);
  --color-top2: hsl(var(--hue-blue) 30% 100%);
  --color-bottom1: hsl(var(--hue-blue) 30% 100%);
  --color-bottom2: hsl(var(--hue-blue) 30% 100%);
  --color-border: hsl(var(--hue-red) 90% 30%);
  --size: 24px;
  position: relative;
  padding: 0;
  border: 0;
  color: white;
  background: linear-gradient(
    to bottom,
    var(--color-top1),
    var(--color-top2) calc(50% - 2px),
    var(--color-border) calc(50% - 1.5px) calc(50% + 1.5px),
    var(--color-bottom1) calc(50% + 2px),
    var(--color-bottom2)
  );
  flex: none;
  width: var(--size);
  height: var(--size);
  border-radius: 9999px;
  background-clip: border-box;
  animation: 0.5s ease-in-out alternate pokeballJiggle;
  animation-delay: 1s;
  transition: transform 200ms;
  transition-timing-function: ease-in-out;
}

@keyframes pokeballJiggle {
  30% {
    rotate: -20deg;
  }
  70% {
    rotate: 20deg;
  }
}

@media (prefers-reduced-motion) {
  .pokeball {
    animation: none;
    transition: none;
  }
}

.pokeball::after {
  box-sizing: border-box;
  --size: 12px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 9999px;
  width: var(--size);
  height: var(--size);
  border: 3px solid var(--color-border);
  background: hsl(var(--hue-blue) 30% 100%);
}

@media (hover) {
  .pokeball:hover {
    cursor: pointer;
    filter: brightness(1.05);
  }
}

.pokeball:active {
  filter: var(--filter-darken);
}

.pokeball:focus {
  outline: none;
}

.pokeball:focus-visible {
  outline: 3px solid;
  outline-offset: 2px;
}

.pleaseUpdate {
  position: relative;
}

.pleaseUpdate::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -4px;
  width: 12px;
  height: 12px;
  translate: 0 -50%;
  border-radius: 9999px;
  background: var(--color-header-text);
  box-shadow: 0 0 0 3px var(--color-header-base);
}

.tabSection {
  margin-top: var(--padding2);
  font-weight: var(--weight-medium);
  font-stretch: ultra-condensed;
  padding: var(--padding0) var(--padding3);
  /* border-bottom: 1px solid var(--color-header-highlight); */
  font-size: var(--font-size2);
}

.tab {
  text-decoration: none;
  padding: var(--padding2) var(--padding4);
  text-align: start;
  border-radius: 0 var(--border-radius-pill) var(--border-radius-pill) 0;
  /* background: var(--color-header-base);
  color: var(--color-fg1); */
  color: inherit;
  border-bottom: 1px solid var(--color-header-highlight);
  border-image: linear-gradient(
      to right,
      transparent,
      var(--color-header-highlight) 64px calc(100% - 64px),
      transparent
    )
    1;
  outline-color: currentColor;
  /* font-size: var(--font-size1); */
}

.tab:has(+ .tab[aria-current="page"]) {
  border-color: transparent;
  border-image-source: none;
}

.tab[aria-current="page"] {
  /* border-color: transparent; */
  background: var(--color-header-text);
  color: var(--color-header-dark);
  border-color: transparent;
  border-image-source: none;
  text-shadow: none;
}

@media (width >= 60rem) {
  .tabBar {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

@media (width >= 60rem) {
  .root {
    grid-template-areas:
      "......   header "
      "sidebar  content";
    grid-template-columns: minmax(auto, 22ch) 1fr;
    grid-template-rows: auto 1fr;

    background: var(--color-header-base);
    color: var(--color-header-text);
  }

  .content {
    box-shadow:
      0 0 0 1px var(--color-header-border),
      var(--shadow-sidebar);
    border-top-left-radius: var(--border-radius3);
  }

  /* .tabBar {
  } */

  .tab {
    text-align: start;
  }

  .sidebar {
    border: 0;
  }
}
