:root:has(.dialog:modal) {
  overflow: hidden;
}

.root {
  --header-height: round(up, 4.5rem, 8px);
  /* https://developer.chrome.com/docs/css-ui/edge-to-edge */
  /* https://webkit.org/blog/7929/designing-websites-for-iphone-x/ */
  --safe-area-max-inset-bottom: env(safe-area-max-inset-bottom, 36px);
  /* M3 spec: 48dp container height for a single line of tab content. */
  --tabs-height: 3rem;

  flex: auto;
  display: grid;
  gap: 0;

  /* Overflow scrolling will look better if we use fixed positioning for the
  header and sidebar, even though it makes the layout code a lot more annoying
  🙄 */
  grid-template-areas: "content";

  height: 100dvh;
}

.menuButton {
  display: flex;
  border: 0;
  padding: var(--padding2);
  background-color: rgb(from currentColor r g b / 18%);
  color: inherit;
  border-radius: var(--border-radius-pill);
  text-shadow: inherit;
}

.header {
  grid-area: header;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: var(--padding3);
  color: var(--color-header-fg);
  background: var(--color-header-bg);
}

.sidebar {
  display: block;
  grid-area: sidebar;
  margin: 0;
  border: 0;
  background: var(--color-sidebar-base);
  color: var(--color-sidebar-text);
  padding-bottom: var(--padding4);
}

.dialog {
  margin: 0;
  border: 0;
  padding: 0;
  padding-bottom: var(--padding4);
  background: var(--color-sidebar-base);
  color: var(--color-sidebar-text);
  position: fixed;
  top: 0;
  left: var(--padding5);
  max-width: initial;
  max-height: initial;
  width: calc(100dvw - var(--padding5));
  /* height: 100dvh; */
  height: 100%;
  translate: 0 0;
  scale: 1;
  transition-duration: 200ms;
  transition-timing-function: ease;
  transition-property: translate, scale;
  box-shadow: var(--shadow-menu);
  border-radius: var(--border-radius3) 0 0 var(--border-radius3);
}

.dialog::backdrop {
  background: var(--color-modal-backdrop);
}

@starting-style {
  .dialog {
    translate: 100% 0%;
  }
}

.dialogContent {
  height: inherit;
}

.content {
  grid-area: content;
  color: var(--color-primary);
  background: var(--color-bg-base);
  scrollbar-color: var(--color-scroll) transparent;
}

.headerContent {
  flex: auto;
  width: 100%;
  display: flex;
  gap: var(--padding2);
  padding: var(--padding2) var(--padding3);
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.dialogMenuHeader {
  min-height: var(--header-height);
  gap: var(--padding3);
  padding: var(--padding2) var(--padding3);
  display: flex;
  justify-content: end;
  align-items: center;
}

@media (width < 60rem) {
  .content * {
    scroll-margin-top: calc(
      var(--header-height) + var(--tabs-height) + var(--padding2)
    );
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--header-height);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  height: 24px;
  width: 100%;
}

@media (width >= 60rem) {
  .headerContent {
    gap: var(--padding2);
    padding: var(--padding2) var(--padding3);
    align-items: center;
    max-width: initial;
  }

  .header {
    z-index: 1;
    border-radius: 0 0 var(--border-radius3) 0;
    margin-bottom: var(--padding0);
  }
}

.heading {
  line-height: 1.15;

  color: inherit;
  margin: 0;
  align-items: center;
  flex-direction: row;
  gap: var(--padding2);

  display: flex;
  justify-content: flex-start;
}

.titleStack {
  display: flex;
  flex-direction: column;
  gap: var(--padding1);
}

.title {
  display: flex;
  margin: 0;
  gap: var(--padding1);
  font-size: 2rem;
  align-items: center;
  line-height: 1;
  color: inherit;

  .pkmn {
    font-weight: 900;
    text-transform: uppercase;
    font-stretch: condensed;
    letter-spacing: calc(1em / 32);
  }
  .dot {
    font-weight: 900;
  }
  .help {
    font-weight: 500;
  }
}

.subtitle {
  font-size: var(--font-size0);
  font-weight: var(--weight-medium);
  margin: 0;
  color: inherit;
}

@media (width < 22rem) {
  .subtitle {
    font-stretch: ultra-condensed;
  }
}

.heading a {
  color: inherit;
  text-decoration: none;
}

.pleaseUpdate {
  position: relative;
}

.pleaseUpdate::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -4px;
  width: 12px;
  height: 12px;
  translate: 0 -50%;
  border-radius: var(--border-radius-pill);
  background: currentColor;
  box-shadow: 0 0 0 3px var(--color-header-bg);
}

.mobileTabBar {
  background: var(--color-tabs-base);
  color: var(--color-secondary);
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  position: fixed;
  width: 100dvw;
  left: 0;
  height: var(--tabs-height);
  top: var(--header-height);
  z-index: 1;
  border-bottom: 1px solid var(--color-border-secondary);
}

.mobileTab {
  position: relative;
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  /* Not outline: needs to dodge the active indicator underline. */
  &::before {
    content: "";
    position: absolute;
    inset: 6px;
    border: 3px solid transparent;
    border-radius: var(--border-radius1);
  }

  &:focus-visible::before {
    border-color: var(--color-tertiary);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    width: 32px;
    height: 3px;
    border-radius: var(--border-radius-pill) var(--border-radius-pill) 0 0;
    background: var(--color-link);
    opacity: 0;
  }

  &[aria-current="page"] {
    color: var(--color-link);

    &::after {
      opacity: 1;
    }
  }
}

.mobileTab svg {
  display: block;
}

@media (width >= 60rem) {
  :root {
    overscroll-behavior: none;
  }

  .root {
    --sidebar-width: round(up, 30ch, 16px);

    grid-template-areas:
      "header   content"
      "sidebar  content";
    grid-template-columns: minmax(auto, var(--sidebar-width)) 1fr;
    grid-template-rows: auto 1fr;

    background: var(--color-bg-base);
    color: var(--color-primary);
  }

  .content {
    overflow: auto scroll;
    overscroll-behavior: none;
    padding-block: var(--padding2) var(--padding4);
  }

  .dialog {
    display: none;
  }

  .subtitle {
    font-size: var(--font-size0);
  }

  .mobileTabBar {
    display: none;
  }
}

@media (width < 60rem) {
  .logo {
    height: 24px;
  }

  .sidebar {
    display: none;
  }

  .content {
    padding-top: calc(var(--header-height) + var(--tabs-height));
    /* https://developer.chrome.com/docs/css-ui/edge-to-edge */
    /* https://webkit.org/blog/7929/designing-websites-for-iphone-x/ */
    padding-bottom: var(--safe-area-max-inset-bottom);
  }
}

@media (width >= 60rem) {
  .menuButton {
    display: none;
  }

  .sidebar {
    overflow: auto auto;
    scrollbar-color: var(--color-sidebar-text) transparent;
    border-radius: 0 var(--border-radius3) 0 0;
  }
}
