.root {
  flex: auto;
}

.easterEgg {
  pointer-events: none;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 50vw;
  translate: -50% 10vh;
  opacity: 0;
  padding: 3rem;
  border-radius: 9999px;
  background: radial-gradient(hsl(0 0% 100% / 40%), hsl(0 0% 100% / 0%));
  backdrop-filter: blur(4px);
  box-shadow: inset 0 0 16px hsl(0 0% 100% / 50%), 0 0 0 1px hsl(0 0% 0% / 10%),
    0 4px 8px hsl(0 0% 0% / 10%), 0 0 16px hsl(0 0% 0% / 20%);
}

.easterEgg[data-animate="true"] {
  animation: 2s easterEgg_animation;
}

@media (prefers-reduced-motion) {
  .easterEgg {
    translate: -50% -10vh;
  }

  .easterEgg[data-animate="true"] {
    animation: 4s easterEgg_animation_reduced !important;
  }
}

.easterEgg img {
  filter: drop-shadow(4px 4px 16px rgb(0 0 0 / 40%));
}

@keyframes easterEgg_animation {
  10%,
  95% {
    opacity: 1;
    translate: -50% -10.5vh;
    rotate: 0 0 2deg;
  }
  15%,
  90% {
    opacity: 1;
    translate: -50% -10vh;
  }
}

@keyframes easterEgg_animation_reduced {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

.header {
  text-shadow: 0 0 8px hsl(0 0% 0% / 50%);
  font-size: 1.25rem;
  font-weight: var(--weight-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--padding2);
  border-bottom: 1px solid var(--color-vibrant-border);
  color: white;
  background: var(--color-pokeball);
  padding: var(--padding3);
  margin: 0;
}

@media (min-width: 640px) {
  .header {
    font-size: var(--font-size3);
  }
}

.headerButton {
  --size: 1.25em;
  position: relative;
  padding: 0;
  border: 0;
  color: white;
  background: linear-gradient(
    to bottom,
    var(--color-top1),
    var(--color-top2) calc(50% - 2px),
    var(--color-border) calc(50% - 1.5px) calc(50% + 1.5px),
    var(--color-bottom1) calc(50% + 2px),
    var(--color-bottom2)
  );
  box-shadow: inset 0 0 0 1px hsl(0 0% 100% / 20%), 0 0 0 1px hsl(0 0% 0% / 25%),
    0 2px 2px hsl(0 0% 0% / 30%);
  flex: none;
  width: var(--size);
  height: var(--size);
  border-radius: 9999px;
  background-clip: border-box;
  animation: 0.5s ease-in-out alternate pokeballJiggle;
  animation-delay: 1s;
  transition: transform 200ms;
  transition-timing-function: ease-in-out;
}

.headerButton,
.headerButton[data-theme="premier"] {
  --color-top1: hsl(0 0% 100%);
  --color-top2: hsl(0 0% 90%);
  --color-bottom1: hsl(0 0% 90%);
  --color-bottom2: hsl(0 0% 80%);
  --color-border: hsl(0 90% 30%);
}

.headerButton[data-theme="regular"] {
  --color-top1: hsl(0 90% 70%);
  --color-top2: hsl(0 90% 60%);
  --color-bottom1: hsl(0 0% 90%);
  --color-bottom2: hsl(0 0% 80%);
  --color-border: hsl(0 0% 20%);
}

@keyframes pokeballJiggle {
  30% {
    transform: rotateZ(-20deg);
  }
  70% {
    transform: rotateZ(20deg);
  }
}

@media (prefers-reduced-motion) {
  .headerButton {
    animation: none;
    transition: none;
  }
}

.headerButton::after {
  box-sizing: content-box;
  --size: 0.25em;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 9999px;
  width: var(--size);
  height: var(--size);
  border: 3px solid var(--color-border);
  background: hsl(0 0% 100%);
}

.headerButton:hover {
  cursor: pointer;
  filter: brightness(1.05);
}

.headerButton:active {
  filter: var(--filter-darken);
}

.headerButton:focus {
  outline: none;
}

.headerButton:focus-visible {
  outline: 2px solid;
  outline-offset: 2px;
}

.pleaseUpdate {
  position: relative;
}

.pleaseUpdate::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  width: 0.5em;
  height: 0.5em;
  border-radius: 9999px;
  background: var(--color-badge);
  box-shadow: 0 0 0 2px var(--color-bg1);
}

.tabBar {
  background: var(--color-bg1);
  border-bottom: 1px solid var(--color-border2);
  padding: var(--padding2);
  gap: var(--padding2);
  border-color: var(--color-border2);
  box-shadow: 0 2px 8px rgb(0 0 0 / 5%), 0 2px 16px rgb(0 0 0 / 5%);
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

@media (min-width: 640px) {
  .tabBar {
    display: flex;
  }
}

.tab {
  text-decoration: none;
  padding: var(--padding1) var(--padding3);
  text-align: center;
  border: 1px solid var(--color-border1);
  border-radius: var(--border-radius-pill);
  background: var(--color-bg1);
  color: var(--color-fg1);
  font-weight: var(--weight-medium);
}

.tab[aria-current="page"] {
  border-color: var(--color-fg1);
  background: var(--color-fg1);
  color: var(--color-bg1);
}
