.root {
  flex: auto;
  display: grid;
  gap: 0;

  grid-template-areas:
    "header"
    "sidebar"
    "content";
}

.header {
  grid-area: header;
  margin: 0;
  border-bottom: 1px solid var(--color-header-border);

  text-shadow:
    0 0 1px hsl(0 0% 0% / 25%),
    0 1px 4px hsl(0 0% 0% / 30%);
  display: flex;
  flex-direction: column;
  gap: var(--padding3);
  color: var(--color-header-text);
  background: var(--color-header-base);
}

.sidebar {
  grid-area: sidebar;
  margin: 0;
  border: 0;
  border-bottom: 1px solid var(--color-header-border);
  background: var(--color-header-base);
  color: var(--color-header-text);
  padding-bottom: var(--padding2);
}

.content {
  grid-area: content;
  text-shadow: none;
  color: var(--color-fg1);
  background: var(--color-bg2);
}

.tabBar {
  /* gap: var(--padding2); */
  flex-wrap: wrap;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  /* justify-content: center; */
}

.easterEgg {
  pointer-events: none;
  position: fixed;
  z-index: 1;
  top: 50vh;
  left: 50vw;
  translate: -50% -50%;
  scale: 80%;
  rotate: x -30deg;
  opacity: 0;
  padding: 4rem;
  border-radius: 9999px;
  background: radial-gradient(
    circle at center,
    rgb(from var(--color-card-bg) r g b / 100%),
    rgb(from var(--color-card-bg) r g b / 0%)
  );
  backdrop-filter: saturate(150%) blur(16px);
  box-shadow:
    inset 0 1px 0 var(--color-card-highlight),
    inset 0 -1px 0 var(--color-card-highlight),
    0 16px 32px 0 hsl(var(--hue-blue) 20% 10% / 20%);
}

.easterEgg[data-animate="true"] {
  animation: 2s easterEgg_animation;
}

@media (prefers-reduced-motion) {
  .easterEgg {
    scale: 100% !important;
    rotate: 0deg !important;
  }

  .easterEgg[data-animate="true"] {
    animation: 4s easterEgg_animation !important;
  }
}

@keyframes easterEgg_animation {
  15%,
  90% {
    opacity: 1;
    rotate: 0deg;
    scale: 100%;
  }
}

.headerContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--padding3);
  padding: var(--padding3);
}

@media (width >= 60rem) {
  .headerContent {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-width: initial;
  }
}

.heading {
  font-size: 1.75rem;
  font-weight: 600;
  font-stretch: ultra-condensed;
  letter-spacing: var(--logo-letter-spacing);
  line-height: 1.15;

  color: var(--color-header-text);
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: var(--padding2);
}

:where(
    [lang="fr"],
    [lang="es"],
    [lang="it"],
    [lang="pt-BR"],
    [lang="da"],
    [lang="pl"],
    [lang="nl"]
  )
  .heading {
  font-size: 1.5rem;
}

:where(
    [lang="ja"],
    [lang="ja-Hrkt"],
    [lang="pt-PT"],
    [lang="ro"],
    [lang="vi"],
    [lang="kk"],
    [lang="ru"]
  )
  .heading {
  font-size: 1.25rem;
}

@media (width >= 60rem) {
  .heading {
    font-size: 2rem;
  }
}

.heading a {
  color: inherit;
  text-decoration: none;
}

.pokeball {
  --color-top1: hsl(var(--hue-blue) 30% 100%);
  --color-top2: hsl(var(--hue-blue) 30% 90%);
  --color-bottom1: hsl(var(--hue-blue) 30% 90%);
  --color-bottom2: hsl(var(--hue-blue) 30% 80%);
  --color-border: hsl(var(--hue-red) 90% 30%);
  --size: 30px;
  position: relative;
  padding: 0;
  border: 0;
  color: white;
  background: linear-gradient(
    to bottom,
    var(--color-top1),
    var(--color-top2) calc(50% - 2px),
    var(--color-border) calc(50% - 1.5px) calc(50% + 1.5px),
    var(--color-bottom1) calc(50% + 2px),
    var(--color-bottom2)
  );
  box-shadow:
    inset 0 0 0 1px hsl(0 0% 100% / 20%),
    0 1px 2px hsl(0 0% 0% / 30%);
  flex: none;
  width: var(--size);
  height: var(--size);
  border-radius: 9999px;
  background-clip: border-box;
  animation: 0.5s ease-in-out alternate pokeballJiggle;
  animation-delay: 1s;
  transition: transform 200ms;
  transition-timing-function: ease-in-out;
}

@keyframes pokeballJiggle {
  30% {
    rotate: -20deg;
  }
  70% {
    rotate: 20deg;
  }
}

@media (prefers-reduced-motion) {
  .pokeball {
    animation: none;
    transition: none;
  }
}

.pokeball::after {
  box-sizing: border-box;
  --size: 12px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 9999px;
  width: var(--size);
  height: var(--size);
  border: 3px solid var(--color-border);
  background: hsl(var(--hue-blue) 30% 95%);
}

@media (hover) {
  .pokeball:hover {
    cursor: pointer;
    filter: brightness(1.05);
  }
}

.pokeball:active {
  filter: var(--filter-darken);
}

.pokeball:focus {
  outline: none;
}

.pokeball:focus-visible {
  outline: 3px solid;
  outline-offset: 2px;
}

.pleaseUpdate {
  position: relative;
}

.pleaseUpdate::after {
  content: "";
  position: absolute;
  top: -4px;
  right: -4px;
  width: 16px;
  height: 16px;
  border-radius: 9999px;
  background: var(--color-header-text);
  box-shadow:
    0 0 0 1px var(--color-header-dark),
    0 0 0 3px var(--color-header-base);
}

.tabSection {
  margin-top: var(--padding2);
  font-weight: var(--weight-medium);
  font-stretch: ultra-condensed;
  padding: var(--padding0) var(--padding2);
  /* border-bottom: 1px solid var(--color-header-highlight); */
  font-size: var(--font-size2);
}

.tab {
  text-decoration: none;
  padding: var(--padding2) var(--padding4);
  text-align: start;
  border-radius: 0 var(--border-radius-pill) var(--border-radius-pill) 0;
  /* background: var(--color-header-base);
  color: var(--color-fg1); */
  color: inherit;
  border-bottom: 1px solid var(--color-header-highlight);
  border-image: linear-gradient(
      to right,
      transparent,
      var(--color-header-highlight) 64px calc(100% - 64px),
      transparent
    )
    1;
  outline-color: currentColor;
  text-shadow: none;
  /* font-size: var(--font-size1); */
}

.tab[aria-current="page"] {
  /* border-color: transparent; */
  background: var(--color-header-text);
  color: var(--color-header-dark);
  border-color: transparent;
  border-image-source: none;
}

@media (width >= 60rem) {
  .tabBar {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

@media (width >= 60rem) {
  .root {
    grid-template-areas:
      "header header"
      "sidebar content";
    grid-template-columns: 25ch 1fr;
    grid-template-rows: auto 1fr;
  }

  .content {
    border-top-left-radius: var(--border-radius3);
  }

  .tabBar {
    padding: 0;
    padding-right: var(--padding2);
  }

  .tab {
    text-align: start;
  }

  .sidebar {
    border: 0;
    border-right: 1px solid var(--color-header-border);
  }
}
