.badge {
  border-radius: var(--border-radius1);
  box-shadow: inset 0 0 0 1px var(--color-vibrant-border);
  background: var(--type-color);
  color: white;
}

.badge[data-size="small"] {
  font-size: var(--font-size1);
  padding: 4px 8px;
  min-height: 1rem;
}

.badge[data-size="medium"] {
  font-size: var(--font-size2);
  padding: 8px 16px;
  min-height: 1rem;
}

.badge[data-type="stellar"] {
  background: var(--stellar-background-linear);
}

.badge[data-type="none"] {
  background: none;
  box-shadow: inset 0 0 0 1px var(--color-border3);
  color: var(--color-fg3);
}

.badge[data-variant="ghost"] {
  box-shadow: none;
  border-radius: var(--border-radius1);
}

.label {
  /* TODO: Using `-webkit-text-stroke` + `paint-order` is a lot less messy...
  but looks slightly less good. Maybe something to think about later. */
  --_c: var(--type-color-bg);
  line-height: 1;
  text-shadow:
    0 1px 0 var(--_c),
    1px 0 0 var(--_c),
    -1px 0 0 var(--_c),
    0 -1px 0 var(--_c),
    1px 1px 0 var(--_c),
    1px -1px 0 var(--_c),
    -1px 1px 0 var(--_c),
    -1px -1px 0 var(--_c),
    0 1px 0 var(--_c),
    1px 0 1px var(--_c),
    -1px 0 1px var(--_c),
    0 -1px 1px var(--_c),
    1px 1px 1px var(--_c),
    1px -1px 1px var(--_c),
    -1px 1px 1px var(--_c),
    -1px -1px 1px var(--_c);
  font-weight: var(--weight-medium);
  font-stretch: ultra-condensed;
}

.badge[data-type="none"] .label {
  text-shadow: none;
}
