.badge {
  --_c: var(--type-color-bg);

  border-radius: var(--border-radius0);
  box-shadow: inset 0 0 0 1px var(--color-vibrant-border);
  background: var(--type-color);
  color: white;
  gap: var(--padding2);
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;
}

.badge[data-size="small"] {
  font-size: var(--font-size1);
  padding: 4px 8px;
  min-height: 1rem;
}

.badge[data-size="medium"] {
  font-size: var(--font-size2);
  padding: 6px 8px;
  min-height: 1rem;
}

.badge[data-type="stellar"] {
  background: var(--stellar-background-linear);
}

.badge[data-type="none"] {
  background: none;
  box-shadow: inset 0 0 0 1px var(--color-border3);
  color: var(--color-secondary);
}

.badge[data-variant="ghost"] {
  box-shadow: none;
  border-radius: var(--border-radius0);
}

.label {
  line-height: 1;
  font-weight: var(--weight-medium);
  font-stretch: ultra-condensed;
  text-align: start;
  white-space: nowrap;
  text-wrap: nowrap;
}

.badge:not([data-type="none"]) {
  svg {
    filter: drop-shadow(1px 1px 0 var(--_c));
  }

  .label {
    /*
      Smooth out the rough edges of the text stroke a bit. DON'T use text-shadow
      and -webkit-text-stroke together, or Safari will barf.
    */
    -webkit-text-stroke: 2px var(--_c);
    filter: drop-shadow(1px 1px 0 var(--_c));
    paint-order: stroke fill;
    letter-spacing: calc(1em / 64);
  }
}
