.badge {
  border-radius: var(--border-radius0);
  box-shadow: inset 0 0 0 1px var(--color-vibrant-border);
  background: var(--type-color);
  color: white;
}

.badge[data-size="small"] {
  font-size: var(--font-size1);
  padding: 4px 8px;
  min-height: 1rem;
}

.badge[data-size="medium"] {
  font-size: var(--font-size2);
  padding: 8px 16px;
  min-height: 1rem;
}

.badge[data-type="stellar"] {
  background: var(--stellar-background-linear);
}

.badge[data-type="none"] {
  background: none;
  box-shadow: inset 0 0 0 1px var(--color-border3);
  color: var(--color-fg3);
}

.badge[data-variant="ghost"] {
  box-shadow: none;
  border-radius: var(--border-radius0);
}

.label {
  --_c: var(--type-color-bg);
  line-height: 1;
  font-weight: var(--weight-medium);
  font-stretch: ultra-condensed;
}

.badge:not([data-type="none"]) .label {
  -webkit-text-stroke: 3px var(--_c);
  /*
    Smooth out the rough edges of the text stroke a bit. DON'T use text-shadow
    and -webkit-text-stroke together, or Safari will barf.
  */
  filter: drop-shadow(0 0 1px var(--_c));
  paint-order: stroke fill;
}
