.root {
  border: 1px solid;
  border-radius: var(--border-radius2);
  padding: var(--padding2) var(--padding3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding2);
}

.root:where(:not(:disabled)) {
  border-color: transparent;
  background: var(--background-button);
  color: var(--color-fg1);
  box-shadow: var(--shadow-button);
}

.root:disabled {
  pointer-events: none;
  background: transparent;
  color: var(--color-fg4);
  border-color: var(--color-border3);
}

.root[aria-pressed="true"] {
  border-color: var(--color-vibrant-border);
  background: var(--color-accent-bg);
  color: var(--color-accent-fg);
}
