.Card {
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  background: var(--color-card-bg);
  padding: var(--padding3);
  border-radius: var(--border-radius3);
}

.Card[data-size="small"] {
  padding: var(--padding2);
  border-radius: var(--border-radius2);
}
