.Card {
  display: flex;
  flex-direction: column;
  color: var(--color-fg1);
  background:
    radial-gradient(100% 64px at top, var(--color-bg1), var(--color-bg2))
      padding-box,
    linear-gradient(var(--color-bg1), var(--color-bg2) 64px, var(--color-bg2))
      border-box var(--color-bg2);
  padding: var(--padding3);
  border-radius: var(--border-radius3);
  border: 1px solid transparent;
}
