.root {
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding2);
}

.button {
  padding-block: var(--padding1);
  padding-inline: var(--padding1) var(--padding3);
  display: block;
  border: 1px solid;
  border-radius: var(--border-radius2);
}

.button:active {
  filter: var(--filter-darken);
}

.button[aria-pressed="true"] {
  box-shadow: var(--shadow-button);
  border-color: var(--color-vibrant-border1);
  background: var(--color-accent-bg);
  color: var(--color-accent-fg);
}

.button[aria-pressed="false"] {
  border-color: transparent;
  background: var(--background-button);
  color: var(--color-fg1);
  box-shadow: var(--shadow-button);
}

.button[aria-pressed="false"]:focus-visible {
  outline: 3px solid var(--color-fg1);
  outline-offset: -1px;
}

.button[aria-pressed="true"]:focus-visible {
  outline: 3px solid var(--color-fg1);
  outline-offset: -1px;
  box-shadow: inset 0 0 0 1px var(--color-bg1);
}

.checkbox {
  --checkbox-color-border: var(--color-vibrant-border);
  --checkbox-border: inset 0 0 0 1px var(--checkbox-color-border);
  -webkit-appearance: none;
  appearance: none;
  display: block;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  flex: none;
  border: 0;
  background: var(--color-accent-bg);
  color: var(--color-accent-fg);
  box-shadow: var(--checkbox-border);
  border-radius: var(--border-radius1);
}

:where(.button[data-type="stellar"]) .checkbox {
  background: var(--stellar-background-conic);
}

:where(.button[aria-pressed="true"]) .checkbox {
  background-clip: padding-box;
  --_blur: 0.6px;
  --_size: calc(1em / 6);
  --_start: calc(50% - 0.5 * var(--_size));
  --_end: calc(var(--_start) + var(--_size));
  --_fg: var(--color-fg1);
  --_bg: var(--color-bg1);
  --checkbox-color-border: var(--_bg);
  background-color: var(--_bg);
  background-image:
    linear-gradient(
      45deg,
      transparent,
      transparent calc(var(--_start) - var(--_blur)),
      var(--_fg) var(--_start),
      var(--_fg) var(--_end),
      transparent calc(var(--_end) + var(--_blur)),
      transparent
    ),
    linear-gradient(
      -45deg,
      transparent,
      transparent calc(var(--_start) - var(--_blur)),
      var(--_fg) var(--_start),
      var(--_fg) var(--_end),
      transparent calc(var(--_end) + var(--_blur)),
      transparent
    );
  box-shadow:
    var(--checkbox-border),
    inset 0 0 0 8px var(--_bg);
}
