.details > summary {
  padding: var(--padding3) 0;
}

.details > summary::marker {
  font-size: 1.25rem;
}

.details > summary:focus-visible {
  outline: none;
}

.details > summary:focus-visible > * {
  border-radius: 2px;
  outline: 2px solid transparent;
  box-shadow: 0 0 0 2px var(--color-bg1), 0 0 0 4px var(--color-fg1);
}

.details[open] {
  padding-bottom: var(--padding3);
}
