.icon {
  border-radius: 9999px;
  background: var(--color-border3);
}

.summary {
  padding: var(--padding3) 0;
  user-select: none;
  cursor: pointer;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.details:not([open]) > .summary > [data-icon-name="open"] {
  display: none;
}

.details[open] > .summary > [data-icon-name="closed"] {
  display: none;
}

.summary::marker {
  font-size: 1.25rem;
}

.summary:focus-visible {
  outline: none;
}

.summary:focus-visible > * {
  border-radius: 2px;
  outline: 2px solid transparent;
  box-shadow: 0 0 0 2px var(--color-bg1), 0 0 0 4px var(--color-fg1);
}

.details[open] {
  padding-bottom: var(--padding3);
}
