.details {
  --_padding-size: var(--padding3);
}

.details[data-size="small"] {
  --_padding-size: var(--padding2);
}

.icon {
  border-radius: 9999px;
  background: var(--color-border3);
}

.summary {
  padding: var(--_padding-size) 0;
  user-select: none;
  /* cursor: pointer; */
  list-style: none;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.details:not([open]) > .summary > [data-icon-name="minus"] {
  display: none;
}

.details[open] > .summary > [data-icon-name="plus"] {
  display: none;
}

.summary::marker {
  font-size: 1.25rem;
}

.summary:focus-visible {
  outline: none;
}

.summary:focus-visible > * {
  border-radius: 2px;
  outline: 2px solid transparent;
  box-shadow:
    0 0 0 2px var(--color-bg1),
    0 0 0 4px var(--color-fg1);
}

.details[open] {
  padding-bottom: var(--_padding-size);
}
