.details {
  --_padding-size: var(--padding3);
  border-radius: var(--border-radius1);
}

.details[data-size="small"] {
  --_padding-size: var(--padding2);
}

.summary {
  border-radius: var(--border-radius1);
  padding: var(--_padding-size) var(--padding2);
  user-select: none;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.summary::marker {
  font-size: 1.25rem;
}

.summary:focus-visible {
  outline: none;
}

.summary:focus-visible > * {
  border-radius: var(--border-radius0);
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.details[open] > .summary {
  margin-bottom: var(--padding2);
}

.icon {
  box-sizing: content-box;
  padding: var(--padding0);
  border-radius: var(--border-radius-pill);
  background: var(--color-bg-base);
  transition: rotate var(--motion-duration-short4) var(--motion-easing-standard);
}

.details[open] > .summary > .icon {
  rotate: 180deg;
}

.details[open] {
  padding-bottom: var(--_padding-size);
}
