.CopyButton {
  padding: var(--padding1) var(--padding3);
  border-radius: var(--border-radius2);
  color: var(--color-fg1);
  border: 1px solid transparent;
  background: var(--background-button);
  box-shadow: var(--shadow-button);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding2);
}

.CopyButton[data-state="copied"] {
  box-shadow: none;
  background: var(--color-bg2);
  border-color: var(--color-border3);
  color: var(--color-border3);
}
