.CopyButton {
  padding: var(--padding1) var(--padding3);
  border-radius: var(--border-radius2);
  border: 1px solid;
  color: var(--color-fg1);
  background: var(--color-bg1);
  border-color: var(--color-border1);
}

.CopyButton:active {
  border-color: var(--color-border3);
}

.CopyButton[data-state="copied"] {
  background: var(--color-bg2);
  border-color: var(--color-border3);
  color: var(--color-border3);
}
