.root {
  color: var(--color-fg4);
  font-size: 1.25rem;
  font-weight: var(--weight-medium);
  border: 1px solid var(--color-border3);
  border-radius: var(--border-radius3);
  padding: var(--padding4) var(--padding2);
  text-align: center;
}

.root[data-borderless="true"] {
  border-width: 0;
}
