.link {
  border-radius: var(--border-radius1);
  color: var(--color-link);
}

@media (hover) {
  .noUnderline:hover {
    text-decoration-line: underline;
  }
}

.noUnderline {
  text-decoration-line: none;
}
