.link {
  border-radius: var(--border-radius0);
  color: var(--color-link);
  text-underline-offset: calc(1em / 8);
}

@media (hover) {
  .noUnderline:hover {
    text-decoration-line: underline;
  }
}

.noUnderline {
  text-decoration-line: none;
}
