pre.FancyText {
  white-space: pre-wrap;
  font-size: var(--font-size0);
}

.FancyText {
  margin: 0;
}

.FancyText[data-font-size="inherit"] {
  font-size: inherit;
}

.FancyText[data-font-size="small"] {
  font-size: var(--font-size0);
}

.FancyText[data-font-size="medium"] {
  font-size: var(--font-size1);
}

.FancyText[data-font-size="large"] {
  font-size: var(--font-size2);
}

.FancyText[data-font-size="xlarge"] {
  font-size: var(--font-size3);
}

pre.FancyText[data-font-size] {
  font-size: var(--font-size0);
}

.FancyText[data-color="1"] {
  color: var(--color-primary);
}

.FancyText[data-inline] {
  display: inline;
}

.FancyText[data-font-weight="inherit"] {
  font-weight: inherit;
}

.FancyText[data-font-weight="normal"] {
  font-weight: var(--weight-normal);
}

.FancyText[data-font-weight="medium"] {
  font-weight: var(--weight-medium);
}

.FancyText[data-text-align="left"] {
  text-align: left;
}

.FancyText[data-text-align="right"] {
  text-align: right;
}

.FancyText[data-text-align="center"] {
  text-align: center;
}

.FancyText[data-tabular-nums="true"] {
  font-variant-numeric: tabular-nums;
}

.FancyText:is(h1, h2, h3, h4, h5, h6) {
  line-height: 1.25;
}
