.root[data-font-size="inherit"] {
  font-size: inherit;
}

.root[data-font-size="small"] {
  font-size: 0.875rem;
}

.root[data-font-size="medium"] {
  font-size: 1rem;
}

.root[data-font-size="large"] {
  font-size: 1.25rem;
}

.root[data-font-weight="inherit"] {
  font-weight: inherit;
}

.root[data-font-weight="normal"] {
  font-weight: var(--weight-normal);
}

.root[data-font-weight="medium"] {
  font-weight: var(--weight-medium);
}

.root[data-font-weight="bold"] {
  font-weight: var(--weight-bold);
}

.root[data-margin="none"] {
  margin: 0;
}

.root[data-tabular-nums="true"] {
  font-variant-numeric: tabular-nums;
}
