.link {
  border-radius: var(--border-radius0);
  color: var(--color-link);
  text-underline-offset: calc(1em / 8);
  text-decoration-thickness: calc(0.1em);
}

.noUnderline {
  text-decoration-line: none;
}

.noUnderline:not(.outlined):focus-visible {
  text-decoration-line: underline;
}

@media (hover) {
  .noUnderline:not(.outlined):hover {
    text-decoration-line: underline;
  }
}

.outlined {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--padding2);
  border: 1px solid rgb(from var(--color-link) r g b / 50%);
  border-radius: var(--border-radius-pill);
  padding: var(--padding1) calc(var(--padding1) + var(--padding2));
  font-weight: var(--label-font-weight);
  letter-spacing: var(--label-letter-spacing);
  min-height: round(up, 2rem, 1px);
}

.outlined.iconOnly {
  padding: var(--padding1);
  aspect-ratio: 1;
  min-width: round(up, 2rem, 1px);
}
