.FancyText {
  margin: 0;
}

.FancyText[data-font-size="inherit"] {
  font-size: inherit;
}

.FancyText[data-font-size="small"] {
  font-size: 0.875rem;
}

.FancyText[data-font-size="medium"] {
  font-size: 1rem;
}

.FancyText[data-font-size="large"] {
  font-size: 1.25rem;
}

.FancyText[data-font-size="xlarge"] {
  font-size: 1.5rem;
}

.FancyText[data-color="1"] {
  color: var(--color-fg1);
}

.FancyText[data-color="2"] {
  color: var(--color-fg2);
}

.FancyText[data-color="3"] {
  color: var(--color-fg3);
}

.FancyText[data-inline] {
  display: inline;
}

.FancyText[data-font-weight="inherit"] {
  font-weight: inherit;
}

.FancyText[data-font-weight="normal"] {
  font-weight: var(--weight-normal);
}

.FancyText[data-font-weight="medium"] {
  font-weight: var(--weight-medium);
}

.FancyText[data-text-align="left"] {
  text-align: left;
}

.FancyText[data-text-align="right"] {
  text-align: right;
}

.FancyText[data-text-align="center"] {
  text-align: center;
}

.FancyText[data-tabular-nums="true"] {
  font-variant-numeric: tabular-nums;
}

.FancyText:is(h1, h2, h3, h4, h5, h6) {
  line-height: 1.25;
}
