.link {
  border-radius: var(--border-radius0);
  color: var(--color-link);
  text-underline-offset: calc(1em / 8);
}

@media (hover) {
  .noUnderline:not(.outlined):hover {
    text-decoration-line: underline;
  }
}

.noUnderline {
  text-decoration-line: none;
}

.outlined {
  display: flex;
  align-items: center;
  gap: var(--padding1);

  border: 1px solid;
  border-radius: var(--border-radius1);
  padding-inline: var(--padding2);
}
