.Flex {
  display: flex;
}

.Flex[data-flex="auto"] {
  flex: auto;
}

.Flex[data-direction="row"] {
  flex-direction: row;
}

.Flex[data-direction="column"] {
  flex-direction: column;
}

.Flex[data-wrap="true"] {
  flex-wrap: wrap;
}

.Flex[data-gap="none"] {
  gap: var(--padding0);
}

.Flex[data-gap="small"] {
  gap: var(--padding1);
}

.Flex[data-gap="medium"] {
  gap: var(--padding2);
}

.Flex[data-gap="large"] {
  gap: var(--padding3);
}

.Flex[data-gap="xlarge"] {
  gap: var(--padding4);
}

.Flex[data-padding="small"] {
  padding: var(--padding1);
}

.Flex[data-padding="medium"] {
  padding: var(--padding2);
}

.Flex[data-padding="large"] {
  padding: var(--padding3);
}

.Flex[data-padding-y="small"] {
  padding-top: var(--padding1);
  padding-bottom: var(--padding1);
}

.Flex[data-padding-y="medium"] {
  padding-top: var(--padding2);
  padding-bottom: var(--padding2);
}

.Flex[data-padding-y="large"] {
  padding-top: var(--padding3);
  padding-bottom: var(--padding3);
}

.Flex[data-padding-x="small"] {
  padding-left: var(--padding1);
  padding-right: var(--padding1);
}

.Flex[data-padding-x="medium"] {
  padding-left: var(--padding2);
  padding-right: var(--padding2);
}

.Flex[data-padding-x="large"] {
  padding-left: var(--padding3);
  padding-right: var(--padding3);
}

.Flex[data-justify="stretch"] {
  justify-content: stretch;
}

.Flex[data-justify="center"] {
  justify-content: center;
}

.Flex[data-justify="flex-start"] {
  justify-content: flex-start;
}

.Flex[data-justify="flex-end"] {
  justify-content: flex-end;
}

.Flex[data-align="stretch"] {
  align-items: stretch;
}

.Flex[data-align="center"] {
  align-items: center;
}
.Flex[data-align="flex-start"] {
  align-items: flex-start;
}

.Flex[data-align="flex-end"] {
  align-items: flex-end;
}
