.root {
  gap: var(--padding1);
  border-radius: var(--border-radius-pill);
  padding: var(--padding2);
  display: flex;
  align-items: center;
  fill: currentColor;
  box-shadow: var(--shadow-button);
  color: var(--color-primary);
  border: 1px solid transparent;
  background: var(--background-button);
}

.root:active {
  filter: var(--filter-darken);
}

.root[aria-pressed="true"] {
  border-color: var(--color-vibrant-border);
  background: var(--color-accent-bg);
  color: var(--color-accent-fg);
  box-shadow: inset var(--shadow-button);
}
