.root {
  gap: var(--padding1);
  border-radius: var(--border-radius-pill);
  padding: var(--padding2);
  display: flex;
  align-items: center;
  fill: currentColor;
  box-shadow: var(--shadow-button);
  color: var(--color-primary);
  border: 1px solid transparent;
  background: var(--background-button);

  &:active {
    filter: var(--filter-darken);
  }

  &[aria-pressed="true"] {
    border-color: var(--color-border-subtle);
    background: var(--color-accent-bg);
    color: var(--color-accent-fg);
    box-shadow: inset var(--shadow-button);
  }

  &:is(:disabled, [aria-disabled="true"]) {
    background: transparent;
    color: var(--color-disabled);
    border-color: var(--color-border-disabled);
    box-shadow: none;
    filter: none;
  }
}
