.root {
  --_radius-round: 22px;

  gap: var(--padding1);
  border-radius: var(--_radius-round);
  transition: var(--motion-duration-short3) var(--motion-easing-standard);
  transition-property: border-radius, background-color, color;
  padding: var(--padding2);
  display: flex;

  align-items: center;
  fill: currentColor;
  color: var(--color-primary);
  border: 1px solid transparent;
  background-color: var(--color-bg-input);

  &[data-size="small"] {
    padding: var(--padding1);
  }

  &[data-variant="tertiary"] {
    background-color: var(--color-tertiary-container-bg);
    color: var(--color-tertiary-container-fg);
  }

  &:active {
    background-image: radial-gradient(var(--state-press));
  }

  &:is(:disabled, [aria-disabled="true"]) {
    background: var(--state-disabled-container);
    /* Overlapping SVG strokes don't mix well with alpha. Use pre-blended color instead. */
    color: color-mix(in oklab, var(--color-primary) 38%, var(--color-card-bg));
    border-color: transparent;
  }

  &:is(:hover, :focus-visible):not(:active, :disabled, [aria-disabled="true"]) {
    background-image: radial-gradient(var(--state-hover));
  }

  &[aria-pressed="true"] {
    background-color: var(--color-tertiary);
    color: var(--color-tertiary-fg);
    border-radius: var(--border-radius1);
  }
}
