.grid {
  display: grid;
}

.grid[data-kind="offense-single"],
.grid[data-kind="defense"] {
  gap: var(--padding1);
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(var(--type-min-width) + 2rem), 1fr)
  );
}

.grid[data-kind="offense-combination"] {
  gap: 1px;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.offenseSummary {
  width: 100%;

  display: grid;
  grid-template-columns: 7ch 1fr 7ch;
  gap: 4px;
  font-variant-numeric: tabular-nums;

  :where(th, td) {
    padding: 0;
  }

  :where(th) {
    font-weight: normal;
    text-align: left;
    font-size: var(--font-size0);
  }

  :where(tbody, thead, tr) {
    display: contents;
  }
}

.tableNumber {
  text-align: right;
  background: var(--color-bg-ghost);
  border-radius: var(--border-radius1);
  padding: 2px 8px;
}

.connector {
  border-bottom: 4px solid var(--color-border3);
  width: var(--padding4);
  height: 0;
}
