.root {
  border-radius: var(--border-radius1);
}

.tableWrapper {
  overflow-x: auto;
  border: 1px solid var(--color-border3);
  border-radius: var(--border-radius1);
}

.tableWrapper[data-scroll-start="false"] {
  mask: linear-gradient(to right, transparent, white var(--padding3));
}

.tableWrapper[data-scroll-end="false"] {
  mask: linear-gradient(to left, transparent, white var(--padding3));
}

.tableWrapper[data-scroll-start="false"][data-scroll-end="false"] {
  mask: linear-gradient(
    to right,
    transparent,
    white var(--padding3) calc(100% - var(--padding3)),
    transparent
  );
}

.tableWrapper table {
  border-collapse: separate;
  border-spacing: var(--padding0);
  text-align: center;
  width: 100%;
}

.td {
  min-width: 4rem;
  padding: 0 var(--padding1);
  background: var(--color-bg-ghost);
  border-radius: var(--border-radius0);
}

.td:not([data-count="0"]) {
  background: var(--color-bg1);
}

.td[data-count="0"] {
  color: transparent;
}

.thCorner,
.thTop {
  padding: var(--padding3) var(--padding2);
  font-weight: var(--weight-medium);
  background-color: var(--color-bg2);
  /* background-image: linear-gradient(transparent, var(--color-bg-ghost)); */
  border-radius: var(--border-radius0);
}

.thLeft,
.thCorner {
  position: sticky;
  left: var(--padding0);
}

.thCorner {
  /* Use automatic table sizing */
  width: 0;
}

.thTop {
  min-width: 4rem;
}

.thLeft {
  padding: 0;
}

@media (width >= 30rem) {
  .root {
    max-width: max-content;
  }
}
