.root {
  border-radius: var(--border-radius1);
}

.tableWrapper {
  overflow-x: auto;
  padding: var(--padding1);
  border-radius: var(--border-radius2);

  border: 1px solid transparent;
  background:
    radial-gradient(var(--color-card-bg)) padding-box,
    radial-gradient(
        50% 50% at top center,
        var(--color-card-highlight),
        var(--color-card-bg)
      )
      border-box var(--color-card-bg);
  box-shadow: 0 1px 0 0 var(--color-card-shadow);
}

.tableWrapper[data-scroll-start="false"] {
  mask: linear-gradient(to right, transparent, white var(--padding3));
}

.tableWrapper[data-scroll-end="false"] {
  mask: linear-gradient(to left, transparent, white var(--padding3));
}

.tableWrapper[data-scroll-start="false"][data-scroll-end="false"] {
  mask: linear-gradient(
    to right,
    transparent,
    white var(--padding3) calc(100% - var(--padding3)),
    transparent
  );
}

.tableWrapper table {
  border-collapse: separate;
  border-spacing: var(--padding0);
  text-align: center;
  width: 100%;
}

.td {
  min-width: 4rem;
  padding: 0 var(--padding1);
  background: var(--color-bg-ghost);
  border-radius: var(--border-radius0);
}

.td:not([data-count="0"]) {
  background: var(--color-bg-input);
}

.td[data-count="0"] {
  color: transparent;
}

.thCorner,
.thTop {
  padding: var(--padding0) var(--padding2);
  font-weight: var(--weight-medium);
  background-color: var(--color-card-bg);
  border-radius: var(--border-radius0);
}

.thLeft,
.thCorner {
  position: sticky;
  left: var(--padding0);
}

.thCorner {
  /* Use automatic table sizing */
  width: 0;
}

.thTop {
  min-width: 4rem;
}

.thLeft {
  padding: 0;
}

@media (width >= 30rem) {
  .root {
    max-width: max-content;
  }
}
