.root {
  position: relative;
  display: flex;
  min-height: 1.5rem;
  height: 100%;
  background: var(--meter-color-bg);
  /* background: linear-gradient(to left, var(--meter-color-bg), transparent); */
  border-radius: var(--border-radius0);
  min-width: 100px;
}

.root::after {
  content: "";
  inset: 0;
  width: 100%;
  height: 100%;
  /* Break the meter into 5 chunks (either 51 stat points or 20%) */
  background-image: repeating-linear-gradient(
    to right,
    #0001 0,
    #fff1 calc(100% / 5)
  );
  /* Only show the gradient over the filled portion of the meter, to lower the
  amount of visual noise */
  mask: linear-gradient(
    to right,
    black 0 var(--meter-width),
    transparent var(--meter-width)
  );
  position: absolute;
}

.fill {
  border-radius: inherit;
  width: var(--meter-width);
  background-color: var(--meter-color);
  box-shadow: inset 0 0 0 1px var(--color-vibrant-border1);
  transition: width 200ms;
}
