.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: var(--size-px);
  height: var(--size-px);
}

.placeholder {
  --_size: 4rem;
  box-sizing: content-box;
  position: relative;
  width: var(--_size);
  height: var(--_size);
  line-height: var(--_size);
  border: 1px solid var(--color-border2);
  background: var(--color-bg-input);
  color: var(--color-secondary);
  font-size: 2rem;
  border-radius: var(--border-radius-pill);
}

.image {
  display: block;
  height: auto;
  filter: var(--filter-image);
}

@media (prefers-reduced-motion: no-preference) {
  .image {
    animation-duration: 250ms;
    transform-origin: bottom center;
  }

  .image[data-animation-state="1"] {
    animation-name: bounce1;
  }

  .image[data-animation-state="2"] {
    animation-name: bounce2;
  }
}

@keyframes bounce1 {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.05 0.95;
  }
}

@keyframes bounce2 {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.05 0.95;
  }
}
