.root {
  flex-direction: column;
  align-items: stretch;
  position: relative;
  display: flex;
  color: var(--color-fg1);
  background:
    radial-gradient(var(--color-card-bg)) padding-box,
    radial-gradient(
        50% 50% at top center,
        var(--color-card-highlight),
        var(--color-card-bg)
      )
      border-box var(--color-card-bg);
  box-shadow: 0 1px 0 0 var(--color-card-shadow);
  padding: var(--padding3);
  border-radius: var(--border-radius3);
  border: 1px solid transparent;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

.monster {
  display: grid;
  gap: var(--padding3);
  grid-template-areas:
    "icon"
    "links"
    "stats";
}

.monsterIcon {
  grid-area: icon;
  display: flex;
  flex-direction: column;
}

.monsterLinks {
  grid-area: links;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding3);
}

.monsterStats {
  grid-area: stats;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: auto;
  gap: var(--padding3);
}
