.root {
  display: grid;
  gap: var(--padding2);
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(var(--type-min-width) + 2.5rem + 2px), 1fr)
  );
}

.button {
  padding-block: var(--padding1);
  padding-inline: var(--padding1) var(--padding3);
  display: block;
  border: 1px solid;
  border-radius: var(--border-radius2);
  text-transform: capitalize;
}

.button:active {
  filter: var(--filter-darken);
}

.button[aria-pressed="true"] {
  box-shadow: var(--shadow-button);
  border-color: var(--color-vibrant-border1);
  background: var(--type-color-bg);
  color: #fff;
}

.button[aria-pressed="true"] .text {
  --_c: #0002;
  -webkit-text-stroke: 3px var(--_c);
  paint-order: stroke fill;
}

.button[aria-pressed="false"] {
  border-color: transparent;
  background: var(--background-button);
  color: var(--color-fg1);
  box-shadow: var(--shadow-button);
}

.button[data-type="stellar"][aria-pressed="true"] {
  background: var(--stellar-background-dark);
}

.checkbox {
  --_checkbox-border: var(--color-vibrant-border);
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  flex: none;
  background: var(--type-color);
  color: #fff;
  /* DO NOT USE BORDER since stellar's background-image messes this up */
  box-shadow: inset 0 0 0 1px var(--_checkbox-border);
  border-radius: var(--border-radius1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.type {
  filter: drop-shadow(1px 1px 0 var(--type-color-bg));
}

.check {
  filter: drop-shadow(1px 1px 0 #0002);
}

:where(.button[data-type="stellar"]) .checkbox {
  background: var(--stellar-background-conic);
}

.button[aria-pressed="true"] .checkbox {
  --_checkbox-border: #fff4;
  background: transparent;
  color: #fff;
}

.button[aria-pressed="true"] .type {
  display: none;
}

.button[aria-pressed="false"] .check {
  display: none;
}

.button[aria-pressed="false"]:focus-visible {
  outline: 3px solid var(--color-fg1);
  outline-offset: -1px;
}

.button[aria-pressed="true"]:focus-visible {
  outline: 3px solid var(--color-fg1);
  outline-offset: -1px;
  box-shadow: inset 0 0 0 1px var(--color-bg1);
}
