.root {
  display: grid;
  gap: var(--padding2) var(--padding1);
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(var(--type-min-width) + 2.5rem + 2px), 1fr)
  );
}

.button {
  --_radius-round: 22px;

  padding-block: var(--padding1);
  padding-inline: var(--padding1) var(--padding3);
  display: block;
  border: 1px solid transparent;
  text-transform: capitalize;
  font-weight: var(--label-font-weight);
  letter-spacing: var(--label-letter-spacing);
  border-radius: var(--_radius-round);
  transition-duration: var(--motion-duration-short3);
  transition-timing-function: var(--motion-easing-standard);
  transition-property: border-radius, background-color, color;

  &:active {
    background-image: radial-gradient(var(--state-press));
  }

  &:focus-visible {
    outline: 2px solid var(--color-tertiary);
    outline-offset: 2px;
  }

  &:is(:hover, :focus-visible):not(:active) {
    background-image: radial-gradient(var(--state-hover));
  }
}

.button[aria-pressed="true"] {
  background-color: var(--type-color-bg);
  color: #fff;
  border-radius: var(--border-radius0);
}

.button[aria-pressed="true"] .text {
  --_c: #0002;
  -webkit-text-stroke: 3px var(--_c);
  paint-order: stroke fill;
}

.button[aria-pressed="false"] {
  background-color: var(--color-bg-input);
  color: var(--color-primary);
}

.button[data-type="stellar"][aria-pressed="true"] {
  background: var(--stellar-background-dark);
}

.checkbox {
  --_radius-round: 16px;

  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  flex: none;
  background: var(--type-color);
  color: #fff;
  opacity: var(--content-dim);
  border-radius: var(--_radius-round);
  transition: var(--motion-duration-short3) var(--motion-easing-standard);
  transition-property: border-radius, background-color, opacity;
  display: flex;
  justify-content: center;
  align-items: center;
}

.type {
  filter: drop-shadow(1px 1px 0 var(--type-color-bg));
}

.check {
  filter: drop-shadow(1px 1px 0 #0002);
}

:where(.button[data-type="stellar"]) .checkbox {
  background: var(--stellar-background-conic);
}

.button[aria-pressed="true"] .checkbox {
  background: transparent;
  box-shadow: none;
  color: #fff;
  border-radius: var(--border-radius0);
}

.button[aria-pressed="true"] .type {
  display: none;
}

.button[aria-pressed="false"] .check {
  display: none;
}

.button:is(:hover, :focus-visible) .checkbox {
  opacity: 1;
}
