.button {
  padding-block: var(--padding2);
  padding-inline: var(--padding2) var(--padding3);
  display: block;
  border: 1px solid;
  border-radius: var(--border-radius2);
  text-transform: capitalize;
}

.button:active {
  filter: var(--filter-darken);
}

.button[aria-pressed="true"] {
  box-shadow: var(--shadow-button);
  border-color: var(--color-vibrant-border1);
  background: var(--type-color-bg);
  color: white;
}

.button[aria-pressed="true"] .text {
  --_c: #0002;
  -webkit-text-stroke: 3px var(--_c);
  paint-order: stroke fill;
  /*
    Smooth out the rough edges of the text stroke a bit. DON'T use text-shadow
    and -webkit-text-stroke together, or Safari will barf.
  */
  filter: drop-shadow(0 0 1px var(--_c));
}

.button[aria-pressed="false"] {
  border-color: var(--color-border1);
  background: var(--background-button-bg);
  color: var(--color-fg1);
  box-shadow: var(--shadow-button);
}

.button[data-type="stellar"][aria-pressed="true"] {
  background: var(--stellar-background-dark);
}

.checkbox {
  --checkbox-color-border: var(--color-vibrant-border);
  --checkbox-border: inset 0 0 0 1px var(--checkbox-color-border);
  -webkit-appearance: none;
  appearance: none;
  display: block;
  box-sizing: border-box;
  width: 1.5rem;
  height: 1.5rem;
  flex: none;
  border: 0;
  background: var(--type-color);
  color: white;
  box-shadow: var(--checkbox-border);
  border-radius: 0.125rem;
}

:where(.button[data-type="stellar"]) .checkbox {
  background: var(--stellar-background-conic);
}

.button[aria-pressed="true"] .checkbox {
  /* filter: drop-shadow(0 0 1px #0008); */
  background-clip: padding-box;
  --_blur: 0.6px;
  --_size: calc(1em / 6);
  --_start: calc(50% - 0.5 * var(--_size));
  --_end: calc(var(--_start) + var(--_size));
  --_fg: black;
  --_bg: white;
  --checkbox-color-border: var(--_fg);
  background-color: var(--_bg);
  background-image:
    linear-gradient(
      45deg,
      transparent,
      transparent calc(var(--_start) - var(--_blur)),
      var(--_fg) var(--_start),
      var(--_fg) var(--_end),
      transparent calc(var(--_end) + var(--_blur)),
      transparent
    ),
    linear-gradient(
      -45deg,
      transparent,
      transparent calc(var(--_start) - var(--_blur)),
      var(--_fg) var(--_start),
      var(--_fg) var(--_end),
      transparent calc(var(--_end) + var(--_blur)),
      transparent
    );
  box-shadow:
    inset 0 0 0 6px var(--_bg),
    0 0 0 1px #0004,
    0 0 1px #0008;
  /* box-shadow:
    var(--checkbox-border),
    inset 0 0 0 6px var(--_bg); */
}

.button[aria-pressed="false"]:focus-visible {
  outline: 3px solid var(--color-fg1);
  outline-offset: -1px;
}

.button[aria-pressed="true"]:focus-visible {
  outline: 3px solid var(--color-fg1);
  outline-offset: -1px;
  box-shadow: inset 0 0 0 1px var(--color-bg1);
}
