.tabBar {
  flex-wrap: wrap;
  display: grid;
  padding-right: var(--padding2);
}

.tab {
  text-decoration: none;
  padding: var(--padding2) var(--padding4);
  text-align: start;
  border-radius: 0 var(--border-radius-pill) var(--border-radius-pill) 0;
  color: inherit;
  border-bottom: 1px solid var(--color-header-highlight);
  border-image: linear-gradient(
      to right,
      transparent,
      var(--color-header-highlight) var(--padding5) calc(100% - var(--padding5)),
      transparent
    )
    1;
  outline-color: currentColor;
  display: flex;
  gap: var(--padding2);
  align-items: center;
}

.tab:has(+ .tab[aria-current="page"]) {
  border-color: transparent;
  border-image-source: none;
}

.tab[aria-current="page"] {
  background: var(--color-header-text);
  color: var(--color-header-dark);
  border-color: transparent;
  border-image-source: none;
  text-shadow: none;
}

.tabSection {
  margin-top: var(--padding2);
  font-weight: var(--weight-medium);
  /* font-stretch: ultra-condensed; */
  padding: var(--padding0) var(--padding3);
  font-size: var(--font-size2);
}

.pleaseUpdate {
  position: relative;
}

.pleaseUpdate::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -4px;
  width: 12px;
  height: 12px;
  translate: 0 -50%;
  border-radius: 9999px;
  background: var(--color-header-text);
  box-shadow: 0 0 0 3px var(--color-header-base);
}

@media (width >= 60rem) {
  .tabBar {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .tab {
    text-align: start;
  }
}
