.tabBar {
  flex-wrap: wrap;
  display: grid;

  &[data-position="left"] {
    padding-right: var(--padding2);
  }

  &[data-position="right"] {
    padding-left: var(--padding2);
  }
}

.tab {
  text-decoration: none;
  margin-inline: var(--padding2);
  padding: var(--padding2) var(--padding4);
  text-align: start;
  color: var(--color-primary);
  border: 1px solid transparent;
  border-radius: var(--border-radius-pill);
  outline-color: currentColor;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--padding2);
  align-items: center;
  font-weight: var(--label-font-weight);
  letter-spacing: var(--label-letter-spacing);
}

.label {
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tab[aria-current="page"] {
  background: var(--color-nav-selected-bg);
  color: var(--color-nav-selected-fg);
}

.tabSection {
  margin-top: var(--padding3);
  padding: var(--padding1) var(--padding3);
  font-size: var(--font-size0);
  color: var(--color-secondary);
}

.pleaseUpdate {
  position: relative;
}

.pleaseUpdate::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  translate: 0 -50%;
  border-radius: var(--border-radius-pill);
  background: var(--color-tertiary);
  box-shadow: 0 0 0 3px var(--color-sidebar-base);
}

.tabBar[data-position="left"] .pleaseUpdate::after {
  right: 0px;
}

.tabBar[data-position="right"] .pleaseUpdate::after {
  left: 8px;
}

@media (width >= 60rem) {
  .tabBar {
    display: flex;
    flex-direction: column;
  }

  .tab {
    text-align: start;
  }
}
