.tabBar {
  flex-wrap: wrap;
  display: grid;

  &[data-position="left"] {
    padding-right: var(--padding2);
  }

  &[data-position="right"] {
    padding-left: var(--padding2);
  }
}

.tab {
  text-decoration: none;
  padding: var(--padding2) var(--padding4);
  text-align: start;
  color: inherit;
  border-bottom: 1px solid var(--color-sidebar-highlight);
  border-image: linear-gradient(
      to right,
      transparent var(--padding4),
      var(--color-sidebar-highlight) 0 calc(100% - var(--padding3)),
      transparent 0
    )
    1;
  outline-color: currentColor;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--padding2);
  align-items: center;

  .tabBar[data-position="left"] & {
    border-radius: 0 var(--border-radius-pill) var(--border-radius-pill) 0;
  }

  .tabBar[data-position="right"] & {
    border-radius: var(--border-radius-pill) 0 0 var(--border-radius-pill);
  }
}

.tab:has(+ .tab[aria-current="page"]) {
  border-color: transparent;
  border-image-source: none;
}

.tab[aria-current="page"] {
  background: var(--color-accent-bg);
  color: var(--color-accent-fg);
  box-shadow: inset 0 1px 0 0 var(--color-border-subtle);
  border-color: transparent;
  border-image-source: none;
  text-shadow: none;
}

.tabSection {
  margin-top: var(--padding2);
  font-weight: var(--weight-medium);
  /* font-stretch: ultra-condensed; */
  padding: 0 var(--padding3);
  font-size: var(--font-size2);
}

.pleaseUpdate {
  position: relative;
}

.pleaseUpdate::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  translate: 0 -50%;
  border-radius: 9999px;
  background: var(--color-sidebar-text);
  box-shadow: 0 0 0 3px var(--color-sidebar-base);
}

.tabBar[data-position="left"] .pleaseUpdate::after {
  right: -4px;
}

.tabBar[data-position="right"] .pleaseUpdate::after {
  left: -4px;
}

@media (width >= 60rem) {
  .tabBar {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .tab {
    text-align: start;
  }
}
