.PlainBadge {
  border-radius: var(--border-radius2);
  border: 1px solid var(--color-border2);
  background: var(--color-bg3);
  text-align: center;
  grid-column: 1 / -1;
  padding: 2px;
}

.PlainBadge_content {
  background: var(--color-bg1);
  border-radius: var(--border-radius1);
  border: 1px solid transparent;
  padding: 0 4px;
}
