.root {
  border-radius: var(--border-radius0);
  border: 1px solid var(--color-border2);
  background: var(--color-bg1);
}

.root[data-size="full-width"] {
  grid-column: 1 / -1;
}

.content {
  border-radius: var(--border-radius0);
  padding: 8px;
  font-size: var(--font-size2);

  line-height: 1;
  font-weight: var(--weight-medium);
  font-stretch: ultra-condensed;
}
