.root {
  display: flex;
  flex-direction: column;
  gap: var(--padding1);
}

.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--color-border1);
  padding: var(--padding2) var(--padding2);
  border-radius: var(--border-radius3);
  overflow: hidden;
  box-shadow: var(--shadow-button);
  background-color: var(--color-bg1);
}

.item {
  display: flex;
  padding: calc(1px + var(--padding2)) var(--padding2);
  border-radius: var(--border-radius3);
  gap: var(--padding3);
  align-items: center;
  width: 100%;
}

@media (hover) {
  .item:hover {
    background: linear-gradient(
      to top,
      var(--color-button1),
      var(--color-button1b)
    );
  }
}

.itemDivider {
  border-top: 1px solid var(--color-border3);
  flex: auto;
  width: calc(100% - var(--padding3));
  margin-inline: auto;
}

.radio {
  --_size-outer: 1.5em;
  --_size-check: 0.75em;
  flex: none;
  background-color: var(--color-bg1);
  border: 1px solid var(--color-border1);
  width: var(--_size-outer);
  height: var(--_size-outer);
  border-radius: var(--border-radius-pill);
  padding: calc(var(--_size-check) / 2);
  box-shadow: var(--shadow-inset);
}

.radio:checked {
  background: linear-gradient(var(--color-bg1) 0 100%) content-box,
    linear-gradient(var(--color-fg1) 0 100%) border-box;
  border-color: var(--color-vibrant-border);
}

.preview {
  display: flex;
  flex: auto;
}
