.root {
  display: flex;
  flex-direction: column;
  gap: var(--padding1);
}

.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding1);
  border-radius: var(--border-radius3);

  border: 1px solid transparent;
  background:
    radial-gradient(var(--color-card-bg)) padding-box,
    radial-gradient(
        50% 50% at top center,
        var(--color-card-highlight),
        var(--color-card-bg)
      )
      border-box var(--color-card-bg);
  box-shadow: 0 1px 0 0 var(--color-card-shadow);
}

.item {
  display: flex;
  padding: calc(1px + var(--padding2)) var(--padding2);
  gap: var(--padding3);
  align-items: center;
  border-radius: calc(var(--border-radius3) - var(--padding1));
  border: 1px solid transparent;
  width: 100%;
}

.item:has(.radio:focus-visible) {
  outline: 3px solid;
  outline-offset: -3px;
  z-index: 1;
}

.radio:focus-visible {
  outline: none;
}

.itemDivider {
  margin-block: -1px;
  border-top: 1px solid var(--color-border3);
  border-image: linear-gradient(
      to right,
      transparent var(--padding4),
      var(--color-border3) 0
    )
    1;
  flex: auto;
  width: calc(100% - var(--padding3));
  margin-inline: auto;
}

.radio {
  --_size-outer: 1.5em;
  --_size-check: 0.75em;
  flex: none;
  background-color: var(--color-bg1);
  border: 1px solid var(--color-border1);
  width: var(--_size-outer);
  height: var(--_size-outer);
  border-radius: var(--border-radius-pill);
  padding: calc(var(--_size-check) / 2);
  box-shadow: var(--shadow-inset);
}

.radio:checked {
  background:
    linear-gradient(var(--color-accent-fg) 0 100%) content-box,
    linear-gradient(var(--color-accent-bg) 0 100%) border-box;
  border-color: var(--color-vibrant-border);
}

.preview {
  display: flex;
  flex: auto;
}
