.ResetLink {
  padding: var(--padding1) var(--padding3);
  border-radius: var(--border-radius2);
  border: 1px solid;
  color: var(--color-fg1);
  background: var(--background-button-bg);
  box-shadow: var(--shadow-button);
  border-color: var(--color-border1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding2);
}
