.root {
  flex: auto;
}

.wrapper {
  position: relative;
}

.input {
  -webkit-appearance: none;
  appearance: none;
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: var(--border-radius2);
  border: 1px solid var(--color-border1);
  background: var(--color-bg-input);
  color: var(--color-primary);
  box-shadow: var(--shadow-inset);
  padding-left: calc(var(--icon-size) + 1rem);
  padding-right: calc(var(--icon-size) + 1rem);
}

.iconSearch {
  color: var(--color-secondary);
  position: absolute;
  top: calc(50% - var(--icon-size) / 2);
  left: 0.5rem;
  pointer-events: none;
}

.iconClear {
  color: var(--color-primary);
  position: absolute;
  top: calc(50% - var(--icon-size) / 2);
  right: 0.5rem;
}

.label {
  padding-bottom: var(--padding1);
}

.label:has(+ .input[inputmode="search"]) {
  margin-left: var(--padding1);
}

.help {
  margin: 0;
  padding-top: var(--padding1);
  color: var(--color-secondary);
  font-size: var(--font-size0);
}

.hidden {
  display: none;
}
