.root {
  position: relative;
}

.search {
  width: 100%;
  box-sizing: border-box;
  box-shadow: var(--shadow-inset);
  border-radius: var(--border-radius-pill);
  border: 1px solid var(--color-border1);
  background: var(--color-bg1);
  color: var(--color-fg1);
  padding: 0.5rem;
  padding-left: calc(var(--icon-size) + 1rem);
  padding-right: calc(var(--icon-size) + 1rem);
}

.iconSearch {
  color: var(--color-fg3);
  position: absolute;
  top: calc(50% - var(--icon-size) / 2 + 2px);
  left: calc(0.5rem);
}

.iconClear {
  color: var(--color-fg1);
  position: absolute;
  top: calc(50% - var(--icon-size) / 2);
  right: calc(0.5rem - 2px);
}

.hidden {
  display: none;
}
