.root {
  flex: auto;
}

.select {
  position: relative;
}

.select select {
  -webkit-appearance: none;
  appearance: none;
  padding: 0.5rem 1rem;
  padding-right: 3rem;
  border-radius: var(--border-radius2);
  border: 1px solid transparent;
  background: var(--background-button);
  color: var(--color-primary);
  width: 100%;
  box-shadow: var(--shadow-button);
}

.icon {
  position: absolute;
  right: calc(0.5rem + 4px);
  top: calc(50% - 8px);
}

.label {
  padding-bottom: var(--padding1);
}

.help {
  margin: 0;
  padding-top: var(--padding1);
  color: var(--color-secondary);
  font-size: var(--font-size0);
}
