.root {
  display: grid;
  gap: 0.25rem 0.5rem;
  grid-template-columns: max-content 4ch 1fr;
  height: min-content;
  font-variant-numeric: tabular-nums;
  align-items: center;

  background: var(--color-bg-ghost);
  padding: var(--padding2);
  border-radius: var(--border-radius2);
  /* margin-inline: calc(-1 * var(--padding2));
  margin-bottom: calc(-1 * var(--padding2)); */
}
