.TranslationCard_pill {
  color: var(--color-fg1);
  background: var(--color-bg2);
  border: 1px solid var(--color-border2);
  padding: 0 var(--padding2);
  border-radius: var(--border-radius-pill);
}
