.root {
  gap: var(--padding1);
  display: grid;
  grid-template-areas:
    "title"
    "completion"
    "download";
  grid-template-columns: auto;
}

@media (width >= 40rem) {
  .root {
    grid-template-areas:
      "title      download"
      "completion download";
    grid-template-columns: 1fr auto;
  }

  .download,
  .completion {
    text-align: right;
  }
}

.title {
  grid-area: title;
  display: flex;
  align-items: center;
}

.completion {
  grid-area: completion;
  display: flex;
}

.download {
  grid-area: download;
  display: flex;
  justify-content: end;
}
