.easterEgg {
  pointer-events: none;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 50vw;
  transform: translateX(-50%) translateY(10vh);
  opacity: 0;
}

.easterEgg[data-animate="true"] {
  animation: 2s easterEgg-Animation;
}

.easterEgg img {
  filter: drop-shadow(0 0 1px white) drop-shadow(0 0 2px white)
    drop-shadow(0 0 3px white) drop-shadow(0 0 4px white)
    drop-shadow(0 0 5px white) drop-shadow(0 0 6px white)
    drop-shadow(0 0 7px rgb(0 0 0 / 20%));
}

@keyframes easterEgg-Animation {
  10%,
  95% {
    opacity: 1;
    transform: translateX(-50%) translateY(-10.5vh) rotateZ(2deg);
  }
  15%,
  90% {
    opacity: 1;
    transform: translateX(-50%) translateY(-10vh);
  }
}
