.easterEgg {
  pointer-events: none;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 50vw;
  translate: -50% 10vh;
  opacity: 0;
}

.easterEgg[data-animate="true"] {
  animation: 2s easterEgg_animation;
}

@media (prefers-reduced-motion) {
  .easterEgg {
    translate: -50% -10vh;
  }

  .easterEgg[data-animate="true"] {
    animation: 4s easterEgg_animation_reduced !important;
  }
}

.easterEgg img {
  filter: drop-shadow(0 0 1px white) drop-shadow(0 0 2px white)
    drop-shadow(0 0 3px white) drop-shadow(0 0 4px white)
    drop-shadow(0 0 5px white) drop-shadow(0 0 6px white)
    drop-shadow(0 0 7px rgb(0 0 0 / 20%));
}

@keyframes easterEgg_animation {
  10%,
  95% {
    opacity: 1;
    translate: -50% -10.5vh;
    rotate: 0 0 2deg;
  }
  15%,
  90% {
    opacity: 1;
    translate: -50% -10vh;
  }
}

@keyframes easterEgg_animation_reduced {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

.header {
  text-shadow: 0 0 8px hsl(0 0% 0% / 50%);
}

.headerButton {
  --size: 1.25em;

  /* Premier theme */
  /* --color-top1: hsl(0 0% 100%);
  --color-top2: hsl(0 0% 100%);
  --color-bottom1: hsl(0 0% 100%);
  --color-bottom2: hsl(0 0% 100%);
  --color-border: hsl(0 90% 40%); */

  /* Regular theme */
  --color-top1: hsl(0 90% 70%);
  --color-top2: hsl(0 90% 45%);
  --color-bottom1: hsl(0 0% 100%);
  --color-bottom2: hsl(0 0% 70%);
  --color-border: hsl(0 0% 0%);

  /* Flat theme */
  /* --color-top1: hsl(0 90% 60%);
  --color-top2: hsl(0 90% 60%);
  --color-bottom1: hsl(0 0% 100%);
  --color-bottom2: hsl(0 0% 100%);
  --color-border: hsl(0 0% 0%); */

  position: relative;
  border: 0;
  background: linear-gradient(
    to bottom,
    var(--color-top1),
    var(--color-top2) calc(50% - 1.5px),
    var(--color-border) calc(50% - 1px) calc(50% + 1px),
    var(--color-bottom1) calc(50% + 1.5px),
    var(--color-bottom2)
  );
  box-shadow: inset 0 0 0 1px hsl(0 0% 100% / 20%), 0 0 0 1px hsl(0 0% 0% / 25%),
    0 2px 2px hsl(0 0% 0% / 30%);
  width: var(--size);
  height: var(--size);
  border-radius: 9999px;
  background-clip: border-box;
  animation: 0.5s ease-in-out alternate pokeballJiggle;
  animation-delay: 1s;
  transition: transform 200ms;
  transition-timing-function: ease-in-out;
}

@keyframes pokeballJiggle {
  30% {
    transform: rotateZ(-20deg);
  }
  70% {
    transform: rotateZ(20deg);
  }
}

@media (prefers-reduced-motion) {
  .headerButton {
    animation: none;
    transition: none;
  }
}

.headerButton::after {
  --size: 0.25em;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 9999px;
  width: var(--size);
  height: var(--size);
  border: 2px solid var(--color-border);
  background: hsl(0 0% 100%);
}

.headerButton:hover {
  cursor: pointer;
  transform: rotateZ(15deg);
}

.headerButton:active {
  filter: var(--filter-darken);
}

.pleaseUpdate {
  position: relative;
}

.pleaseUpdate::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  width: 0.5em;
  height: 0.5em;
  border-radius: 9999px;
  background: var(--color-badge);
  box-shadow: 0 0 0 2px var(--color-bg1);
}

.tabBar {
  border-color: var(--color-border2);
  box-shadow: 0 2px 8px rgb(0 0 0 / 5%), 0 2px 16px rgb(0 0 0 / 5%);
  gap: 0.5rem;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

@media (min-width: 40em) {
  .tabBar {
    display: flex;
  }
}
