.badgeContainer {
  padding: 3px;
  box-shadow: inset 0 0 0 1px var(--color-vibrant-border);
}

.badgeContainer[data-type="stellar"] {
  background: var(--stellar-background-linear);
}

.badgeLabel {
  padding: 0.25rem 1rem;
  background: var(--type-color-bg);
}

.badgeLabel[data-type="stellar"] {
  background: hsl(0 0% 25% / 50%);
  backdrop-filter: blur(1px);
}
