.details > summary::marker {
  font-size: 1.25rem;
}

.details > summary:focus {
  outline: none;
}

.details > summary:focus > * {
  border-radius: 2px;
  outline: 2px solid transparent;
  box-shadow: 0 0 0 2px var(--color-bg1), 0 0 0 4px var(--color-fg1);
}
