.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: var(--size-px);
  height: var(--size-px);
}

.placeholder {
  --_size: 4rem;
  box-sizing: content-box;
  position: relative;
  width: var(--_size);
  height: var(--_size);
  line-height: var(--_size);
  border: 1px solid var(--color-border2);
  background: var(--color-bg1);
  color: var(--color-fg3);
  font-size: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .image[data-shiny="true"] {
    animation: 250ms bounce;
    transform-origin: bottom center;
  }
}

@keyframes bounce {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.05 0.95;
  }
}
