.wrapper {
  position: relative;
}

.wrapper select {
  -webkit-appearance: none;
  appearance: none;
  padding: 0.5rem 1rem;
  padding-right: 3rem;
  background: var(--background-button-bg);
  color: var(--color-fg1);
}

.wrapper select:hover {
  background: var(--background-button-bg-hover);
}

.wrapper:after {
  --_size: 0.5rem;
  --_border-size: 2px;
  content: "";
  position: absolute;
  width: var(--_size);
  height: var(--_size);
  border: var(--_border-size) solid;
  border-top: 0;
  border-left: 0;
  rotate: 45deg;
  right: 1rem;
  top: calc(50% - var(--_size) + var(--_border-size));
  pointer-events: none;
  box-sizing: border-box;
}

.wrapper optgroup {
  background: var(--color-button1b);
  color: var(--color-fg1);
  font-style: normal;
  font-weight: 500;
}

.wrapper option {
  background: var(--color-button1b);
  color: var(--color-fg1);
  font-weight: initial;
}
