.wrapper {
  position: relative;
}

.wrapper > select {
  -webkit-appearance: none;
  appearance: none;
}

.wrapper:after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border: 2px solid;
  border-top: 0;
  border-left: 0;
  rotate: 45deg;
  right: 0.75rem;
  top: calc(50% - 0.5rem);
  pointer-events: none;
}

.wrapper > select > option {
  font-weight: initial;
}
