:root {
  --color-bg1: hsl(0 0% 100%);
  --color-bg2: hsl(0 0% 96%);
  --color-bg3: hsl(0 0% 90%);
  --color-fg1: hsl(0 0% 7%);
  --color-fg2: hsl(0 0% 20%);
  --color-fg3: hsl(0 0% 40%);
  --color-fg4: hsl(0 0% 60%);
  --color-pokeball: hsl(357 97% 46%);
  --color-button1: hsl(0 0% 100%);
  --color-button1b: hsl(0 0% 96%);
  --color-button-hover1: hsl(200 100% 98%);
  --color-button-hover1b: hsl(200 100% 96%);
  --color-badge: hsl(120 70% 30%);
  --color-link: hsl(240 100% 50%);
  --color-link-hover: hsl(240 60% 60%);
  --color-border1: hsl(0 0% 50%);
  --color-border2: hsl(0 0% 80%);
  --color-border3: hsl(0 0% 90%);
  --color-vibrant-border: hsl(0 0% 0% / 0.2);
  --color-vibrant-border1: hsl(0 0% 0% / 0.6);
  --color-scroll-fg: hsl(0 0% 20%);
  --color-scroll-bg: hsl(0 0% 90%);
  --type-min-width: 5rem;
  scrollbar-color: var(--color-scroll-fg) var(--color-scroll-bg);
  overflow-y: scroll;
}

:root[lang="pl"],
:root[lang="ru"] {
  --type-min-width: 8rem;
}

:root[data-theme="dark"],
:root[data-theme="auto"][data-theme-auto="dark"] {
  --color-bg1: hsl(220 20% 25%);
  --color-bg2: hsl(220 20% 20%);
  --color-bg3: hsl(220 20% 30%);
  --color-fg1: hsl(220 20% 90%);
  --color-fg2: hsl(220 20% 80%);
  --color-fg3: hsl(220 20% 70%);
  --color-fg4: hsl(220 20% 60%);
  --color-pokeball: hsl(357 70% 40%);
  --color-button1: hsl(220 20% 28%);
  --color-button1b: hsl(220 20% 24%);
  --color-button-hover1: hsl(220 20% 32%);
  --color-button-hover1b: hsl(220 20% 28%);
  --color-badge: hsl(120 60% 60%);
  --color-link: hsl(180 100% 70%);
  --color-link-hover: hsl(180 80% 95%);
  --color-border1: hsl(220 20% 55%);
  --color-border2: hsl(220 20% 35%);
  --color-border3: hsl(220 20% 30%);
  --color-vibrant-border: hsl(0 0% 100% / 0.2);
  --color-vibrant-border1: hsl(0 0% 100% / 0.8);
  --color-scroll-fg: hsl(220 20% 80%);
  --color-scroll-bg: hsl(220 20% 30%);
}

[hidden] {
  display: none;
}

.bg3 {
  background-color: var(--color-bg3);
}
.bg2 {
  background-color: var(--color-bg2);
}
.bg1 {
  background-color: var(--color-bg1);
}

.fg4 {
  color: var(--color-fg4);
}
.fg3 {
  color: var(--color-fg3);
}
.fg2 {
  color: var(--color-fg2);
}
.fg1 {
  color: var(--color-fg1);
}

.border-vibrant2 {
  border-color: var(--color-vibrant-border1);
}
.border-vibrant {
  border-color: var(--color-vibrant-border);
}

.border3 {
  border-color: var(--color-border3);
}
.border2 {
  border-color: var(--color-border2);
}
.border1 {
  border-color: var(--color-border1);
}

.grid {
  display: grid;
}

.gap4 {
  gap: 2rem;
}
.gap3 {
  gap: 1rem;
}
.gap2 {
  gap: 0.5rem;
}
.gap1 {
  gap: 0.25rem;
}

.pre-wrap {
  white-space: pre-wrap;
}

.fill-currentcolor {
  fill: currentcolor;
}

.w0 {
  width: 0;
}

.mw-max {
  max-width: max-content;
}

.cursor-na {
  cursor: not-allowed;
}

.fg-link {
  color: var(--color-link);
}
.fg-link:hover {
  color: var(--color-link-hover);
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.fallback-content {
  animation: 1s fallback-content-animation;
}

@keyframes fallback-content-animation {
  0%,
  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.columns-type-selector {
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(var(--type-min-width) + 2.5rem + 2px), 1fr)
  );
}

button {
  /* https://caniuse.com/css-appearance */
  -webkit-appearance: none;
  appearance: none;
}

@media (prefers-reduced-motion: no-preference) {
  .active-squish:active:not(:disabled) {
    transform: translateY(1px);
  }
}

.button-bg {
  background: var(--color-button1)
    linear-gradient(to bottom, var(--color-button1) 20%, var(--color-button1b));
}

.button-bg:hover {
  background: var(--color-button-hover1)
    linear-gradient(
      to bottom,
      var(--color-button-hover1) 20%,
      var(--color-button-hover1b)
    );
}

.content-wide {
  max-width: 1100px;
}

.content-narrow {
  max-width: 700px;
}

.button-shadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.inset-shadow {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.no-pointer {
  pointer-events: none;
  user-select: none;
}

.no-select {
  user-select: none;
}

.img-crisp {
  /* https://caniuse.com/css-crisp-edges */
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.img-shadow {
  filter: drop-shadow(4px 4px 0 rgb(0 0 0 / 10%));
}

.button-selected {
  border-color: var(--color-fg1);
  background: var(--color-fg1);
  color: var(--color-bg1);
}

@media (min-width: 40em) {
  .grid-col2 {
    grid-template-columns: 1fr 1fr;
  }
}

.subtle-hr {
  border: 0;
  background: rgba(0, 0, 0, 0.05);
  height: 1px;
}

.no-box-shadow,
.no-box-shadow:focus {
  box-shadow: none;
}

.type-bg {
  background: var(--type-color, #333);
  color: white;
  text-shadow: 0 1px 0 black, 0 0 1px rgba(0, 0, 0, 0.6),
    0 0 2px rgba(0, 0, 0, 0.7), 0 0 3px rgba(0, 0, 0, 0.8),
    0 0 4px rgba(0, 0, 0, 0.9);
}

.select-none {
  user-select: none;
}

.focus-tab:focus-within {
  outline: 2px solid var(--color-fg1);
  outline-offset: 2px;
}

.focus-outline:focus-within {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

.focus-simple:focus-within {
  outline: 2px solid transparent;
  border-color: var(--color-fg1);
  box-shadow: 0 0 0 2px var(--color-border1);
}

.focus-selected:focus-within {
  outline: 2px solid transparent;
  box-shadow: 0 0 0 2px var(--color-bg1), 0 0 0 4px var(--color-fg1);
}

.focus-none:focus {
  outline: none;
}

.pointer-none {
  pointer-events: none;
}
