/* https://gwfh.mranftl.com/fonts */
/* https://cloudconvert.com/ttf-to-woff2 */

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  src: url("/fonts/noto-sans-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("/fonts/noto-sans.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("/fonts/noto-sans-jp.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("/fonts/noto-sans-sc.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("/fonts/noto-sans-tc.woff2") format("woff2");
}

:root {
  --color-bg1: hsl(0 0% 100%);
  --color-bg2: hsl(0 0% 96%);
  --color-bg3: hsl(0 0% 90%);
  --color-fg1: hsl(0 0% 7%);
  --color-fg2: hsl(0 0% 20%);
  --color-fg3: hsl(0 0% 40%);
  --color-fg4: hsl(0 0% 60%);
  --color-pokeball: hsl(0 90% 45%);
  --color-button1: hsl(0 0% 100%);
  --color-button1b: hsl(0 0% 96%);
  --color-button-hover1: hsl(200 100% 98%);
  --color-button-hover1b: hsl(200 100% 96%);
  --color-badge: hsl(120 70% 30%);
  --color-link: hsl(240 100% 50%);
  --color-link-hover: hsl(240 60% 60%);
  --color-border1: hsl(0 0% 50%);
  --color-border2: hsl(0 0% 80%);
  --color-border3: hsl(0 0% 90%);
  --color-vibrant-border: hsl(0 0% 0% / 0.2);
  --color-vibrant-border1: hsl(0 0% 0% / 0.6);
  --color-scroll-fg: hsl(0 0% 20%);
  --color-scroll-bg: hsl(0 0% 90%);

  --filter-darken: brightness(90%);

  --font-sans: "Noto Sans", system-ui, sans-serif;

  --type-min-width: 6rem;
  --type-text-shadow: 0 1px 0 black, 0 0 1px rgb(0 0 0 / 60%),
    0 0 2px rgb(0 0 0 / 70%), 0 0 3px rgb(0 0 0 / 80%), 0 0 4px rgb(0 0 0 / 90%);

  /* Created bey stellar-styles.ts */
  --stellar-background-linear: linear-gradient(
    -225deg,
    hsl(0 100% 50%) 0 calc(6.25% + 1px),
    hsl(22.5 100% 50%) calc(6.25% - 1px) calc(12.5% + 1px),
    hsl(45 100% 50%) calc(12.5% - 1px) calc(18.75% + 1px),
    hsl(67.5 100% 50%) calc(18.75% - 1px) calc(25% + 1px),
    hsl(90 100% 50%) calc(25% - 1px) calc(31.25% + 1px),
    hsl(112.5 100% 50%) calc(31.25% - 1px) calc(37.5% + 1px),
    hsl(135 100% 50%) calc(37.5% - 1px) calc(43.75% + 1px),
    hsl(157.5 100% 50%) calc(43.75% - 1px) calc(50% + 1px),
    hsl(180 100% 50%) calc(50% - 1px) calc(56.25% + 1px),
    hsl(202.5 100% 50%) calc(56.25% - 1px) calc(62.5% + 1px),
    hsl(225 100% 50%) calc(62.5% - 1px) calc(68.75% + 1px),
    hsl(247.5 100% 50%) calc(68.75% - 1px) calc(75% + 1px),
    hsl(270 100% 50%) calc(75% - 1px) calc(81.25% + 1px),
    hsl(292.5 100% 50%) calc(81.25% - 1px) calc(87.5% + 1px),
    hsl(315 100% 50%) calc(87.5% - 1px) calc(93.75% + 1px)
  );
  --stellar-background-conic: conic-gradient(
    hsl(0 100% 50%) 0deg 18.5deg,
    hsl(22.5 100% 50%) 22.5deg 41deg,
    hsl(45 100% 50%) 45deg 63.5deg,
    hsl(67.5 100% 50%) 67.5deg 86deg,
    hsl(90 100% 50%) 90deg 108.5deg,
    hsl(112.5 100% 50%) 112.5deg 131deg,
    hsl(135 100% 50%) 135deg 153.5deg,
    hsl(157.5 100% 50%) 157.5deg 176deg,
    hsl(180 100% 50%) 180deg 198.5deg,
    hsl(202.5 100% 50%) 202.5deg 221deg,
    hsl(225 100% 50%) 225deg 243.5deg,
    hsl(247.5 100% 50%) 247.5deg 266deg,
    hsl(270 100% 50%) 270deg 288.5deg,
    hsl(292.5 100% 50%) 292.5deg 311deg,
    hsl(315 100% 50%) 315deg 333.5deg
  );
  --stellar-background-dark: linear-gradient(
    -225deg,
    hsl(0 100% 20%) 0 calc(6.25% + 1px),
    hsl(22.5 100% 20%) calc(6.25% - 1px) calc(12.5% + 1px),
    hsl(45 100% 20%) calc(12.5% - 1px) calc(18.75% + 1px),
    hsl(67.5 100% 20%) calc(18.75% - 1px) calc(25% + 1px),
    hsl(90 100% 20%) calc(25% - 1px) calc(31.25% + 1px),
    hsl(112.5 100% 20%) calc(31.25% - 1px) calc(37.5% + 1px),
    hsl(135 100% 20%) calc(37.5% - 1px) calc(43.75% + 1px),
    hsl(157.5 100% 20%) calc(43.75% - 1px) calc(50% + 1px),
    hsl(180 100% 20%) calc(50% - 1px) calc(56.25% + 1px),
    hsl(202.5 100% 20%) calc(56.25% - 1px) calc(62.5% + 1px),
    hsl(225 100% 20%) calc(62.5% - 1px) calc(68.75% + 1px),
    hsl(247.5 100% 20%) calc(68.75% - 1px) calc(75% + 1px),
    hsl(270 100% 20%) calc(75% - 1px) calc(81.25% + 1px),
    hsl(292.5 100% 20%) calc(81.25% - 1px) calc(87.5% + 1px),
    hsl(315 100% 20%) calc(87.5% - 1px) calc(93.75% + 1px)
  );

  font-family: var(--font-sans);
  scrollbar-color: var(--color-scroll-fg) var(--color-scroll-bg);
  overflow-y: scroll;
  color-scheme: dark light;
}

:root[lang="ja"] {
  --font-sans: "Noto Sans JP", "Noto Sans", system-ui, sans-serif;
}

:root[lang="zh-Hans"] {
  --font-sans: "Noto Sans SC", "Noto Sans", system-ui, sans-serif;
}

:root[lang="zh-Hant"] {
  --font-sans: "Noto Sans TC", "Noto Sans", system-ui, sans-serif;
}

:root[lang="pl"],
:root[lang="ru"] {
  --type-min-width: 9rem;
}

:root[data-theme="dark"] {
  --color-bg1: hsl(220 20% 25%);
  --color-bg2: hsl(220 20% 20%);
  --color-bg3: hsl(220 20% 30%);
  --color-fg1: hsl(220 20% 90%);
  --color-fg2: hsl(220 20% 80%);
  --color-fg3: hsl(220 20% 70%);
  --color-fg4: hsl(220 20% 60%);
  --color-pokeball: hsl(0 70% 40%);
  --color-button1: hsl(220 20% 28%);
  --color-button1b: hsl(220 20% 24%);
  --color-button-hover1: hsl(220 20% 32%);
  --color-button-hover1b: hsl(220 20% 28%);
  --color-badge: hsl(120 60% 60%);
  --color-link: hsl(180 100% 70%);
  --color-link-hover: hsl(180 80% 95%);
  --color-border1: hsl(220 20% 55%);
  --color-border2: hsl(220 20% 35%);
  --color-border3: hsl(220 20% 30%);
  --color-vibrant-border: hsl(0 0% 100% / 0.4);
  --color-vibrant-border1: hsl(0 0% 100% / 0.8);
  --color-scroll-fg: hsl(220 20% 70%);
  --color-scroll-bg: hsl(220 20% 10%);
}

[hidden] {
  display: none;
}

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
    animation-duration: 0 !important;
  }
}

select,
button,
input {
  font: inherit;
  line-height: inherit;
}

[id] {
  scroll-margin-top: 1rem;
}

.weight-normal {
  font-weight: 400;
}

.weight-medium {
  font-weight: 500;
}

.weight-semibold {
  font-weight: 600;
}

.weight-bold {
  font-weight: 700;
}

.bg3 {
  background-color: var(--color-bg3);
}
.bg2 {
  background-color: var(--color-bg2);
}
.bg1 {
  background-color: var(--color-bg1);
}

.fg4 {
  color: var(--color-fg4);
}
.fg3 {
  color: var(--color-fg3);
}
.fg2 {
  color: var(--color-fg2);
}
.fg1 {
  color: var(--color-fg1);
}

.border-vibrant2 {
  border-color: var(--color-vibrant-border1);
}
.border-vibrant {
  border-color: var(--color-vibrant-border);
}

.border3 {
  border-color: var(--color-border3);
}
.border2 {
  border-color: var(--color-border2);
}
.border1 {
  border-color: var(--color-border1);
}

.grid {
  display: grid;
}

.grid-span-all {
  grid-column: 1 / -1;
}

.gap4 {
  gap: 2rem;
}
.gap3 {
  gap: 1rem;
}
.gap2 {
  gap: 0.5rem;
}
.gap1 {
  gap: 0.25rem;
}

.pre-wrap {
  white-space: pre-wrap;
}

.word-break-all {
  word-break: break-all;
}

.fill-currentcolor {
  fill: currentcolor;
}

.w0 {
  width: 0;
}

.cursor-na {
  cursor: not-allowed;
}

.fg-link {
  color: var(--color-link);
}
.fg-link:hover {
  color: var(--color-link-hover);
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.fallback-content {
  animation: 1s fallback-content-animation;
}

@keyframes fallback-content-animation {
  0%,
  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.columns-type-selector {
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(var(--type-min-width) + 2.5rem + 2px), 1fr)
  );
}

button {
  /* https://caniuse.com/css-appearance */
  -webkit-appearance: none;
  appearance: none;
}

.button-bg {
  background: var(--color-button1)
    linear-gradient(to bottom, var(--color-button1) 20%, var(--color-button1b));
}

.button-bg:hover {
  background: var(--color-button-hover1)
    linear-gradient(
      to bottom,
      var(--color-button-hover1) 20%,
      var(--color-button-hover1b)
    );
}

.content-wide {
  max-width: 1280px;
}

.content-narrow {
  max-width: 700px;
}

.button-shadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.inset-shadow {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.no-pointer {
  pointer-events: none;
  user-select: none;
}

.no-select {
  user-select: none;
}

.img-crisp {
  /* https://caniuse.com/css-crisp-edges */
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.img-shadow {
  filter: drop-shadow(4px 4px 0 rgb(0 0 0 / 10%));
}

.button-selected {
  border-color: var(--color-fg1);
  background: var(--color-fg1);
  color: var(--color-bg1);
}

@media (min-width: 40em) {
  .grid-col2 {
    grid-template-columns: 1fr 1fr;
  }
}

.subtle-hr {
  border: 0;
  background: rgba(0, 0, 0, 0.05);
  height: 1px;
}

.no-box-shadow,
.no-box-shadow:focus {
  box-shadow: none;
}

.type-bg {
  background: var(--type-color, #333);
  color: white;
  text-shadow: var(--type-text-shadow);
}

.type-bg-text {
  color: white;
  text-shadow: var(--type-text-shadow);
}

.type-any-label {
  background: var(--type-color-bg);
  box-shadow: 0 0 0 1px var(--type-color-border);
}

.select-none {
  user-select: none;
}

.focus-tab:focus-visible,
.focus-tab:has(:focus-visible) {
  outline: 2px solid var(--color-fg1);
  outline-offset: 2px;
}

.focus-outline:focus-visible,
.focus-outline:has(:focus-visible) {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

.focus-simple:focus-visible,
.focus-simple:has(:focus-visible) {
  outline: 2px solid transparent;
  border-color: var(--color-fg1);
  box-shadow: 0 0 0 2px var(--color-border1);
}

.focus-selected:focus-visible,
.focus-selected:has(:focus-visible) {
  outline: 2px solid transparent;
  box-shadow: 0 0 0 2px var(--color-bg1), 0 0 0 4px var(--color-fg1);
}

.focus-none:focus {
  outline: none;
}

.pointer-none {
  pointer-events: none;
}

.active-darken:active {
  filter: var(--filter-darken);
}
